<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>
<div class="form-contact">
    <div class="container">
        <p class="text-subtitle"><?= __('Preecha os campos abaixo para enviar a sua mensagem.'); ?></p>
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <form action="<?= $block->escapeUrl($block->getFormAction()) ?>"
                      class="form contact"
                      id="contact-form"
                      method="post"
                      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                      data-mage-init='{"validation":{}}'>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" title="<?= $block->escapeHtmlAttr(__('Nome')) ?>" placeholder="<?= $block->escapeHtmlAttr(__('Nome')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" data-validate="{required:true}" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" title="<?= $block->escapeHtmlAttr(__('E-mail')) ?>" placeholder="<?= $block->escapeHtmlAttr(__('E-mail')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" data-validate="{required:true, 'validate-email':true}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input name="telephone" class="form-control" type="text" title="<?= $block->escapeHtmlAttr(__('Telefone')) ?>" placeholder="<?= $block->escapeHtmlAttr(__('Telefone')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="select-wrapper">
                                    <select name="subject" data-validate="{required:true}">
                                        <option disabled selected hidden value=""><?= $block->escapeHtml(__('Assunto')) ?></option>
                                        <option><?= $block->escapeHtml(__('Compras')) ?></option>
                                        <option><?= $block->escapeHtml(__('Suporte')) ?></option>
                                        <option><?= $block->escapeHtml(__('Elogios ou reclamações')) ?></option>
                                        <option><?= $block->escapeHtml(__('Outros')) ?></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="comment" class="form-control" title="<?= $block->escapeHtmlAttr(__('Mensagem')) ?>" placeholder="<?= $block->escapeHtmlAttr(__('Mensagem')) ?>" rows="6" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="hideit" id="hideit" value="" />
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Enviar')) ?>" class="btn btn-danger btn-block action submit primary">
                                    <span><?= $block->escapeHtml(__('Enviar')) ?></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="mp_recaptcha_0"></div>
            </div>
        </div>
    </div>
</div>