<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Downloadable product links
 *
 * @var $block \Magento\Downloadable\Block\Catalog\Product\Samples
 */
?>
<?php if ($block->hasSamples()): ?>
    <div class="block downloads" data-limit="0" data-shuffle="0">
        <div class="block-title title font-alfa-slab-one">
            <strong id="block-downloads-heading" role="heading"><?= __('Downloads'); ?></strong>
        </div>
        <div class="block-content block-content-downloads content" aria-labelledby="block-downloads-heading">
            <dl class="items samples">
                <?php $_samples = $block->getSamples() ?>
                <?php foreach ($_samples as $_sample): ?>
                    <dd class="item samples-item">
                        <a href="<?= $block->escapeHtml($block->getSampleUrl($_sample)) ?>" <?= $block->getIsOpenInNewWindow() ? 'onclick="this.target=\'_blank\'"' : '' ?>
                           class="item-link samples-item-link">
                            <span class="glyphicon glyphicon-file"></span>
                            <?= $block->escapeHtml($_sample->getTitle()) ?>
                        </a>
                    </dd>
                <?php endforeach; ?>
            </dl>
        </div>
    </div>
<?php endif; ?>
