<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($crumbs && is_array($crumbs)) : ?>
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb">
                <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                    <li class="<?= isset($crumbInfo['class']) ? $block->escapeHtml($crumbInfo['class']) : '' ?>">
                        <?php if ($crumbInfo['link']) : ?>
                            <a href="<?= /* @escapeNotVerified */ $crumbInfo['link'] ?>" title="<?= $block->escapeHtml($crumbInfo['title']) ?>"><?= __($block->escapeHtml($crumbInfo['label'])) ?></a>
                        <?php else: ?>
                            <?= __($block->escapeHtml($crumbInfo['label'])) ?>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ol>
        </div>
    </div>
<?php endif; ?>
