<?php
/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="list-header"><span><?= __('Site map'); ?></span></div>
                    </div>
                </div>
                <ul class="site-map">
                    <li><a href="<?= $this->getBaseUrl() . 'sobre'; ?>"><?= __('Sobre a Minelab'); ?></a></li>
                    <li><a href="<?= $this->getBaseUrl() . 'detectores-de-metal'; ?>"><?= __('Detectores de metal'); ?></a></li>
                    <li><a href="<?= $this->getBaseUrl() . 'acessorios'; ?>"><?= __('Acessórios'); ?></a></li>
                    <li><a href="<?= $this->getBaseUrl() . 'encontre-um-lojista'; ?>"><?= __('Encontre um lojista'); ?></a></li>
                    <li><a href="<?= $this->getBaseUrl() . 'contato'; ?>"><?= __('Contato'); ?></a></li>
                    <li><a href="<?= $this->getBaseUrl() . 'politica-de-privacidade-e-cookies'; ?>"><?= __('Política de Privacidade e Cookies'); ?></a></li>
                    <li><a href="<?= $this->getBaseUrl() . 'trocas-e-devolucoes'; ?>"><?= __('Trocas e Devoluções'); ?></a></li>
                </ul>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="list-header"><span><?= __('Receba novidades'); ?></span></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <?= $block->getLayout()->createBlock('\Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Theme::newsletter/min_subscribe.phtml')->toHtml(); ?>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <img src="<?= $this->getViewFileUrl('images/logo-pie-reverse.png'); ?>" alt="Logo performance is everthing" class="logo-pie-reverse img-responsive center-block">
                    </div>
                </div>
                <div class="contacts col-xs-12">
                    <img src="<?= $this->getViewFileUrl('images/contact-whatsapp.png'); ?>" class="icon-whatsapp">
                    <p>De segunda à quinta-feira das 08h às 18h<br>e sexta-feira das 08h às 17h30min</p>
                    <div class="email">
                        <img src="<?= $this->getViewFileUrl('images/contact-arroba.png'); ?>" alt="">
                        <span>contato@minelab.com.br</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="list-header"><span><?= __('Siga nas redes'); ?></span></div>
                    </div>
                </div>
                <ul class="redes-sociais">
                    <li>
                        <a href="https://www.facebook.com/MinelabBrasil/"><img src="<?= $this->getViewFileUrl('images/icon-facebook.svg'); ?>" alt="Página do facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/minelabbrasil/"><img src="<?= $this->getViewFileUrl('images/icon-instagram.svg'); ?>" alt="Página do instagram"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Minelab"><img src="<?= $this->getViewFileUrl('images/icon-twitter.svg'); ?>" alt="Página do twitter"></a>
                    </li>
                    <li>
                        <a href="ttps://www.youtube.com/playlist?list=PL-wOIlBb-BIcQ9HdMNC85QgHZi_tZXJvC"><img src="<?= $this->getViewFileUrl('images/icon-youtube.svg'); ?>" alt="Página do youtube"></a>
                    </li>
                </ul>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMinelabBrasil%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="100%" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col-xs-12 col-md-4">
                <?= $block->getLayout()
                            ->createBlock('Mageplaza\InstagramFeed\Block\Widget', '', [ 'data' => ['title' => 'Compartilhe no Instagram', 'description' => '<a href="https://www.instagram.com/minelabbrasil/">#MinelabBrasil</a>']])
                            ->toHtml(); ?>
                <img src="<?= $this->getViewFileUrl('images/selo-pagseguro.png'); ?>" alt="" class="selo-pagseguro center-block img-responsive">
            </div>
        </div>
    </div>
    <small class="copyright">
        <span><?= __(date('Y') . ' - Minelab do Brasil Equipamentos para Mineração LTDA.'); ?></span>
    </small>
</div>