<div class="home-minelab-apresentation">
    <div class="leader" style="background-image: url(<?= $this->getViewFileUrl('images/home-apresentation-bg-leader.jpg'); ?>)">
        <img src="<?= $this->getViewFileUrl('images/home-apresentation-img.png'); ?>" class="hidden-xs hidden-sm" alt="Imagem de apresentação Minelab" />
        <div class="container">
            <div class="lines"></div>
            <div class="row">
                <div class="col-xs-10 col-md-4">
                    <h3 class="font-alfa-slab-one"><?= nl2br(__('Líder mundial')); ?></h3>
                    <small><?= nl2br(__('No fornecimento de tecnologias de detecção de metais para consumidores, remoção de minas e necessidades militares.')); ?></small>
                </div>
            </div>
            <div class="row visible-xs visible-sm">
                <img src="<?= $this->getViewFileUrl('images/home-apresentation-sm.jpg'); ?>">
            </div>
        </div>
    </div>
    <div class="largest-manufacturer" style="background-image: url(<?= $this->getViewFileUrl('images/home-apresentation-bg-largest-manufacturer.jpg'); ?>)">
        <img src="<?= $this->getViewFileUrl('images/home-apresentation-largest-manufacturer-img-detector-left.png'); ?>" class="detector-left">
        <img src="<?= $this->getViewFileUrl('images/home-apresentation-largest-manufacturer-img-detector-right.png'); ?>" class="detector-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-md-5">
                    <h3 class="font-alfa-slab-one"><?= __('Pesquisa, desenvolvimento e design inovador'); ?></h3>
                </div>
            </div>
            <div class="lines"></div>
            <div class="row">
                <div class="col-md-5 description-wrapper">
                    <div class="description">
                        <?php $description = '<span class="rotate">' . (implode(' </span><span class="rotate">', explode(' ', __('Somos o maior fabricante mundial de produtos portáteis de detector de metais, e chegamos em solo brasileiro com um histórico de 30 anos promovendo tecnologia inovadora e prática, levando a detecção de metais a novo níveis de excelência.')))) . '</span>'; ?>
                        <?= $description; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="<?= $this->getViewFileUrl('images/home-apresentation-bg-footer.jpg'); ?>" class="bg-footer">
</div>