<div id="modal-question-after-add-product-to-cart" style="display: none;">
    <div class="modal-wrapper">
        <div class="modal-content">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 icon">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="text font-alfa-slab-one">
                            Sua compra foi adicionada ao carrinho.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 btns">
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-block continue-buying" type="button">Continuar Comprando</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-block go-to-checkout" type="button">Finalizar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['jquery', 'bootstrap'], function($){

        $('#modal-question-after-add-product-to-cart .continue-buying').on('click', function() {
            $('#modal-question-after-add-product-to-cart').fadeOut();
        });

        $('#modal-question-after-add-product-to-cart .go-to-checkout').on('click', function() {
            document.location.href = '/checkout/cart';
        });

        $(document).on('ajax:addToCart', function (event, data) {
            //console.log(event, data);
            $('#modal-question-after-add-product-to-cart').fadeIn();

            // Por alguma razão o loading do carrinho após a adição da funcionalidade
            // da modal não está desaparecendo após adicionar o produto ao carrinho
            // e um botão está sendo adicionado ao rodapé.
            //
            // Essa gambi é para remover esses erros!
            $('.minicart-wrapper .counter').removeClass('_block-content-loading');
            $('.minicart-wrapper .counter .loading-mask').remove();

            $('button#addToCartButton').remove();
        });
    });
</script>