<?php
/**
 * @var Minelab\Menu\Block\View\Data $block
 */
?>
<?php $detectors = $block->getAllDetectors(); ?>
<button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" onclick="jQuery('#navbar').toggleClass('in')">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<div id="navbar" class="menu-navigation navbar-collapse collapse">
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="<?= $this->getBaseUrl() . 'sobre'; ?>"><?= __('Sobre a Minelab'); ?></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><?= __('Detectores de metal'); ?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="<?= $this->getBaseUrl() . 'detectores-de-metal'; ?>">Todos</a></li>
                        <?php foreach($detectors as $detector) : ?>
                            <li><a href="<?= $detector->getProductUrl(); ?>"><?= $detector->getName(); ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><?= __('Acessórios'); ?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="<?= $this->getBaseUrl() . 'acessorios'; ?>">Todos</a></li>
                        <?php foreach($detectors as $detector) : ?>
                            <li><a href="<?= $this->makeLinkAccessories($detector->getId()); ?>"><?= $detector->getName(); ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" onclick="geral.funcs.scrollToElement('.block-newsletter')"><?= __('Receba novidades'); ?></a></li>
                <li><a href="<?= $this->getBaseUrl() . 'encontre-um-lojista'; ?>"><?= __('Encontre um lojista'); ?></a></li>
                <li><a href="<?= $this->getBaseUrl() . 'contato'; ?>"><?= __('Contato'); ?></a></li>
                <li class="visible-xs">
                    <hr>
                </li>
                <li class="visible-xs">
                    <a href="<?= $this->getBaseUrl() . 'checkout/cart'; ?>">Carrinho</a>
                </li>
                <?php if($block->isCustomerLoggedIn()) : ?>
                    <li class="visible-xs"><a href="<?= $this->getBaseUrl() . 'customer/account/'; ?>">Minha conta</a></li>
                    <li class="visible-xs"><a href="<?= $this->getBaseUrl() . 'customer/account/logout'; ?>">Sair</a></li>
                <?php else : ?>
                    <li class="visible-xs"><a href="<?= $this->getBaseUrl() . 'customer/account/login'; ?>">Entrar</a></li>
                    <li class="visible-xs"><a href="<?= $this->getBaseUrl() . 'customer/account/create'; ?>">Criar conta</a></li>
                <?php endif; ?>
            </ul>
        </nav>
    </div>
</div>