<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<div class="banner-header-title" style="background-image: url(<?= $this->getViewFileUrl('images/contact-bg.jpg'); ?>)">
    <div class="linhas hidden-xs hidden-sm"></div>
    <div class="container">
        <h3 class="font-alfa-slab-one">
            <?php if($block->hasData('title')) : ?>
                <?= $block->getData('title'); ?>
            <?php else : ?>
                <?= $block->getCurrentCategory()->getName(); ?>
            <?php endif; ?>
        </h3>
    </div>
</div>