<form class="form min subscribe js-cm-form" method="post" data-id="A61C50BEC994754B1D79C5819EC1255C75E0647636DFDE3C2CAB2565317A32FB1006DE4BE7EF65F674CF052BE068FAB49398FF16E9E13DAE6B40D63364AABD30">
    <div class="input-group">
        <input name="email" class="form-control js-cm-email-input" type="email" placeholder="<?php echo $block->escapeHtml(__('Digite seu e-mail')) ?>" required/>
        <span class="input-group-btn">
            <button class="btn btn-default action subscribe primary " type="submit"><?php echo $block->escapeHtml(__('Enviar')) ?></button>
        </span>
    </div>
</form>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>