<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="block-newsletter" style="background-image: url(<?= $this->getViewFileUrl('images/bloco-newsletter-bg.jpg'); ?>);">
    <div class="container">
        <div class="block newsletter">
            <div class="content row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-4">
                    <div class="text">
                        <h3 class="font-alfa-slab-one"><?= __('Receba novidades'); ?></h3>
                        <p><?= __('Inscreva-se ao lado para receber as nossas novidades retamente na seu e-mail.'); ?></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
                    <form class="form subscribe js-cm-form" method="post" data-id="A61C50BEC994754B1D79C5819EC1255C75E0647636DFDE3C2CAB2565317A32FB1006DE4BE7EF65F674CF052BE068FAB49398FF16E9E13DAE6B40D63364AABD30">
                        <div class="input-group">
                            <input name="email" class="form-control js-cm-email-input" type="email" placeholder="<?php echo $block->escapeHtml(__('Digite seu e-mail')) ?>" required />
                            <span class="input-group-btn">
                                <button class="btn btn-default action subscribe primary " type="submit"><?php echo $block->escapeHtml(__('Enviar')) ?></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>