<?php
/**
 * @var \Minelab\Accessories\Block\Display $block
 */
?>
<div class="container">
    <div class="row">
        <?php
            $detectors = $block->getAllDetectorsToFilter();
        ?>
        <?php if(count($detectors) > 0): ?>
            <div class="col-md-3">
                <div class="filter-name"><?= __('Por Detector'); ?></div>
                <div class="filter-options">
                    <ul>
                        <li class="<?= is_null($block->getRequestProductId()) ? 'active' : ''; ?>"><a href="<?= $block->makeLinkAccessories(NULL, $block->getRequestAccessoryTypeId()); ?>">TODOS</a></li>
                        <?php $detectorIdSelected = $block->getRequestProductId(); ?>
                        <?php foreach($detectors as $detector): ?>
                            <li class="<?= $block->getRequestProductId() == $detector->getId() ? 'active' : ''; ?>"><a href="<?= $block->makeLinkAccessories($detector->getId(), $block->getRequestAccessoryTypeId()); ?>"><?= $detector->getName(); ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <div class="filter-name"><?= __('Por Tipo'); ?></div>
                <div class="filter-options">
                    <ul>
                        <li class="<?= is_null($block->getRequestAccessoryTypeId()) ? 'active' : ''; ?>"><a href="<?= $block->makeLinkAccessories($block->getRequestProductId(), NULL); ?>">TODOS</a></li>
                        <?php foreach($block->getAccessoryTypes() as $type) : ?>
                            <li class="<?= $block->getRequestAccessoryTypeId() == $type['value'] ? 'active' : ''; ?>"><a href="<?= $block->makeLinkAccessories($block->getRequestProductId(), $type['value']); ?>"><?= $type['label']; ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <?php $this->getChildBlock('search_result_list')->setCollection($block->getAccessoriesWithFilter()); ?>
                <?= $this->getChildHtml('search_result_list'); ?>
            </div>
        <?php else : ?>
            <div class="col-md-12">
                <div class="message info empty">
                    <div><?= __('Não foram encontrados os detectores para fazer a pesquisa, por favor tente mais tarde.'); ?></div>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>