<?php
/**
 * Blackbird ContentManager Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category        Blackbird
 * @package         Blackbird_ContentManager
 * @copyright       Copyright (c) 2018 Blackbird (https://black.bird.eu)
 * @author          Blackbird Team
 * @license         https://www.advancedcontentmanager.com/license/
 */
?>
<?php
/**
 * @see \Blackbird\ContentManager\Block\View
 */
?>
<?php
/*
 *
 *
 * AVAILABLE METHODS
 *
 * Get all raw values as an array
 * $content->getData();
 *
 * Get a specific value by his field identifier
 * $content->getData('field_identifier');
 * $content->getFieldIdentifier();
 * $content->getAttributeText('field_identifier');
 *
 * Get content type model
 * $content->getContentType();
 *
 * Get image URL for an image field type.
 * $content->getImage($attributeName, $width, $height, $keepRatio, $cropped = false);
 *
 * Get file absolute URL, for a file field typ
 * $content->getFile($field_identifier);
 *
 * Get content url
 * $content->getLinkUrl();
 *
 * Render a field in HTML
 * $content->render($element, $params);
 *
 * See the complete documentation and more examples at:
 * http://www.advancedcontentmanager.com/documentation/
 *
 */
?>
<?php
/** @var \Blackbird\ContentManager\Model\Content $content */
$content = $block->getContent();
/** @var \Blackbird\ContentManager\Model\ContentType $contentType */
$contentType = $content->getContentType();

$pageContent = array(
    'banner'    => array(
        'image'     => NULL,
        'text'      => NULL
    ),
    'content'   => array(
        'title'         => NULL,
        'subtitle'      => NULL,
        'images'        => array(),
        'text'          => NULL,
        'link_video'    => NULL,
    )
);
foreach($contentType->getCustomFieldCollection() as $field) :
    if($field->getIdentifier() == 'page_about_banner_image') :
        $pageContent['banner']['image'] = $content->getImage($field->getIdentifier());
    elseif($field->getIdentifier() == 'page_about_banner_text') :
        $pageContent['banner']['text'] = $content->getData($field->getIdentifier());
    elseif($field->getIdentifier() == 'page_about_content_title') :
        $pageContent['content']['title'] = $content->getData($field->getIdentifier());
    elseif($field->getIdentifier() == 'page_about_content_subtit') :
        $pageContent['content']['subtitle'] = $content->getData($field->getIdentifier());
    elseif($field->getIdentifier() == 'page_about_content_images') :
        $pageContent['content']['images'] = $content->getContentCollection($field->getIdentifier(), '*');
    elseif($field->getIdentifier() == 'page_about_content_text') :
        $pageContent['content']['text'] = $content->getData($field->getIdentifier());
    elseif($field->getIdentifier() == 'page_about_link_video') :
        $pageContent['content']['link_video'] = $content->getData($field->getIdentifier());
    endif;
endforeach;
?>
<div class="about-banner-top" style="background-image: url(<?= $pageContent['banner']['image']; ?>);">
    <div class="container">
        <div class="banner-diagonal" style="background-image: url(<?= $this->getViewFileUrl('images/about-banner-diagonal.jpg'); ?>);"></div>
        <div class="lines"></div>
        <div class="text font-alfa-slab-one"><?= str_replace(' ', '<br>', $pageContent['banner']['text']); ?></div>
        <a href="javascript:void();" class="hidden-xs hidden-sm" onclick="geral.funcs.scrollToElement('.about-content');"><span class="glyphicon glyphicon-menu-down"></span></a>
    </div>
</div>
<div class="about-content" style="background-image: url(<?= $this->getViewFileUrl('images/about-content-bg.jpg'); ?>);">
    <div class="container">
        <h3 class="title font-alfa-slab-one"><?= $pageContent['content']['title'] . '<br>' . $pageContent['content']['subtitle']; ?></h3>
        <div class="imgs-situations">
            <?php $imgPaths = $content->getImage(NULL); ?>
            <div class="row">
                <?php foreach($pageContent['content']['images'] as $image) : ?>
                    <div class="col-xs-12 col-sm-4">
                        <img src="<?=$imgPaths . $image->getData('page_about_image'); ?>" class="img-responsive">
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="content-img"></div>
                <div class="col-sm-12 col-md-6">
                    <img src="<?= $this->getViewFileUrl('images/about-img-content.png'); ?>">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text">
                        <?= $pageContent['content']['text']; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php if( ! empty($pageContent['content']['link_video'])) :
            parse_str(parse_url($pageContent['content']['link_video'], PHP_URL_QUERY ), $vars);
            $id = isset($vars['v']) ? $vars['v'] : NULL;
        ?>
        <?php if( ! is_null($id)) : ?>
            <div class="banner-video" style="background-image: url(<?= $this->getViewFileUrl('images/about-banner-video.jpg'); ?>)">
                <a href="javascript:void(0);" class="btn-play" onclick="jQuery('.about-content .banner-video iframe').fadeIn(); jQuery(this).fadeOut();">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                <iframe width="100%" height="500" style="display: none;" src="https://www.youtube.com/embed/<?= $id; ?>?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <?php endif; ?>
    <?php endif; ?>
</div>