<?php
    /** @var \Blackbird\ContentManager\Model\Content $content */
    $content = $block->getContent();
    /** @var \Blackbird\ContentManager\Model\ContentType $contentType */
    $contentType = $content->getContentType();

    $viewModeGoogleMaps = $block->getData('VIEW_MODE_GMAPS') == TRUE;

    $markerPinPath = $this->getViewFileUrl('images/marker-pin.png');

    $pageContent = array(
        'top_text'      => NULL,
        'find_legend'   => NULL,
        'stores'        => array()
    );
    $dealers = array();
    foreach($contentType->getCustomFieldCollection() as $field) :
        if($field->getIdentifier() == 'find_a_store_top_text') :
            $pageContent['top_text'] = $content->getData($field->getIdentifier());
        elseif($field->getIdentifier() == 'find_a_store_legend') :
            $pageContent['find_legend'] = $content->getData($field->getIdentifier());
        elseif($field->getIdentifier() == 'page_find_st_stores') :
            $pageContent['stores'] = $content->getContentCollection($field->getIdentifier(), '*');
        endif;
    endforeach;
    $states = array(
        'AC'=>'Acre',
        'AL'=>'Alagoas',
        'AP'=>'Amapá',
        'AM'=>'Amazonas',
        'BA'=>'Bahia',
        'CE'=>'Ceará',
        'DF'=>'Distrito Federal',
        'ES'=>'Espírito Santo',
        'GO'=>'Goiás',
        'MA'=>'Maranhão',
        'MT'=>'Mato Grosso',
        'MS'=>'Mato Grosso do Sul',
        'MG'=>'Minas Gerais',
        'PA'=>'Pará',
        'PB'=>'Paraíba',
        'PR'=>'Paraná',
        'PE'=>'Pernambuco',
        'PI'=>'Piauí',
        'RJ'=>'Rio de Janeiro',
        'RN'=>'Rio Grande do Norte',
        'RS'=>'Rio Grande do Sul',
        'RO'=>'Rondônia',
        'RR'=>'Roraima',
        'SC'=>'Santa Catarina',
        'SP'=>'São Paulo',
        'SE'=>'Sergipe',
        'TO'=>'Tocantins'
    );
?>
<?php foreach($pageContent['stores'] as $store) :
    $_store = new stdClass();
    $_store->name = $store->getData('store_name');
    $_store->state_abbreviation = $store->getData('store_state');
    $_store->street_address = $store->getData('store_street_adderss');
    $_store->city = $store->getData('store_city');
    $_store->post_code = $store->getData('store_post_code');
    $_store->latitude = $store->getData('store_latitude');
    $_store->longitude = $store->getData('store_longitude');
    $_store->phones = $store->getData('store_phones') ? array_map('trim', explode(',', $store->getData('store_phones'))) : array();
    $_store->whatsapp = $store->getData('store_whatsapp') ? array_map('trim', explode(',', $store->getData('store_whatsapp'))) : array();
    $_store->website = $store->getData('store_website');
    $_store->email = $store->getData('store_email');

    if( ! isset($_store->state_abbreviation))
        $stores[$_store->state_abbreviation] = array();
    if( ! isset($_store->city))
        $stores[$_store->state_abbreviation][$_store->city] = array();

    $dealers[$_store->state_abbreviation][$_store->city][] = $_store;
endforeach; ?>
<div class="find-stores-with-filter-block <?= $viewModeGoogleMaps ? 'view-google-maps' : ''; ?>">
    <div class="banner-header-title" style="background-image: url(<?= $this->getViewFileUrl('images/contact-bg.jpg'); ?>)">
        <div class="linhas"></div>
        <div class="container">
            <h3 class="font-alfa-slab-one">
                <?= $pageContent['top_text']; ?>
            </h3>
        </div>
    </div>
    <div class="find-a-store">
        <div class="filter-container">
            <div class="container">
                <p><?= $pageContent['find_legend']; ?></p>
                <div class="row">
                    <form>
                        <div class="col-xs-12 col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <select name="state" class="form-control">
                                    <option value="" selected="selected">Estado</option>
                                    <?php foreach($states as $abbreviation => $state) : ?>
                                        <?php if(isset($dealers[$abbreviation])): ?>
                                            <option value="<?= $abbreviation; ?>"><?= $state; ?></option>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="stores-container">
            <?php if( ! $viewModeGoogleMaps) : ?>
                <div class="container">
                    <div class="row">
                        <div class="stores-list">
                            <p class="text-center"><em>Selecione um estado e uma cidade acima para ver as lojas exibidas aqui.</em></p>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div id="gmaps-stores-filter"></div>
            <?php endif; ?>
        </div>
    </div>
    <?php if( ! $viewModeGoogleMaps) : ?>
        <script>
            var dealers = <?= json_encode($dealers); ?>
        </script>
    <?php else: ?>
        <script>
            require([
                'jquery',
                "https://maps.googleapis.com/maps/api/js?key=AIzaSyDIG2JmQeKG1tAdjfqJIUGiqiGGIediRcQ"
            ], function ($) {
                $(document).ready(function () {
                    var map = null;
                    var dealers = <?= json_encode($dealers); ?>;
                    var markerPinPath = '<?= $markerPinPath; ?>';
                    var markers = [];
                    var infowindow = new google.maps.InfoWindow({ content: '' });

                    /**
                     * Function to init map
                     */
                    function initialize() {
                        var mapOptions = {
                            zoom: 15,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                        map = new google.maps.Map(document.getElementById('gmaps-stores-filter'), mapOptions);
                        $.each(dealers, function(state, cities){
                            $.each(cities, function (city, stores) {
                                $.each(stores, function (index, store) {
                                    if(store.latitude != null && store.longitude != null) {

                                        store.latitude = parseFloat(store.latitude);
                                        store.longitude = parseFloat(store.longitude);

                                        addMarker(state, store);
                                    }
                                });
                            });
                        });

                        recentralize();
                    }

                    /**
                     * Function to add marker to map
                     */
                    function addMarker(state, store) {
                        var marker = new google.maps.Marker({
                            title: store.name,
                            position: new google.maps.LatLng(store.latitude, store.longitude),
                            _store: store,
                            map: map,
                            icon: markerPinPath
                        });

                        markers.push(marker);

                        // Marker click listener
                        marker.addListener('click', function () {
                            infowindow.setContent('<div class="pin-marker-store"><p class="name">' + marker._store.name + '</p><p class="address">' + marker._store.street_address + ', ' + marker._store.city + '/' + marker._store.state_abbreviation + '</p><p class="phones">' + marker._store.phones.join(' / ') + '</p></div>');
                            infowindow.open(map, marker);
                            map.panTo(this.getPosition());
                        });
                    }

                    function recentralize() {

                        var latMin = 0;
                        var latMax = 0;
                        var lngMin = 0;
                        var lngMax = 0;


                        $.each(markers, function(_state, marker){
                            if(marker.getVisible()) {

                                if(latMin == 0 || marker.getPosition().lat() < latMin)
                                    latMin = marker.getPosition().lat();
                                if(latMax == 0 || marker.getPosition().lat() > latMax)
                                    latMax = marker.getPosition().lat();

                                if(lngMin == 0 || marker.getPosition().lng() < lngMin)
                                    lngMin = marker.getPosition().lng();
                                if(lngMax == 0 || marker.getPosition().lng() > lngMax)
                                    lngMax = marker.getPosition().lng();
                            }
                        });

                        var initialCenterLatLng = new google.maps.LatLng(
                            ((latMax + latMin) / 2.0),
                            ((lngMax + lngMin) / 2.0)
                        );

                        var initialCenterLatLngBounds = new google.maps.LatLngBounds(
                            //bottom left
                            new google.maps.LatLng(latMin, lngMin),
                            //top right
                            new google.maps.LatLng(latMax, lngMax)
                        );

                        map.setCenter(initialCenterLatLng);

                        map.fitBounds(initialCenterLatLngBounds);

                        map.setZoom(map.getZoom()-1);
                    }

                    $('.find-stores-with-filter-block .find-a-store select[name=state]').on('change', function(){
                        filterMarkers($(this).val());
                    });

                    /**
                     * Function to filter markers by category
                     */
                    filterMarkers = function (state) {
                        $.each(markers, function(_state, marker){
                            if(state == '' || marker._store.state_abbreviation == state)
                                marker.setVisible(true);
                            else
                                marker.setVisible(false);
                        });

                        recentralize();
                    };

                    // Init map
                    initialize();
                });
            });
        </script>
    <?php endif; ?>
</div>

<style>
    #gmaps-stores-filter .gm-style .gm-style-iw-c {
        border-radius: 0;
        border-top: 5px solid #df2817;
        padding-top: 15px;
    }

    #gmaps-stores-filter .gm-style .gm-style-iw-c .pin-marker-store {
        padding: 15px;
    }

    #gmaps-stores-filter .gm-style .gm-style-iw-c .pin-marker-store .name {
        color: #df2817;
        font-size: 15px;
        font-weight: 600;
    }

    #gmaps-stores-filter .gm-style .gm-style-iw-c .pin-marker-store .address {
        font-size: 14px;
    }

    #gmaps-stores-filter .gm-style .gm-style-iw-c .pin-marker-store .address,
    #gmaps-stores-filter .gm-style .gm-style-iw-c .pin-marker-store .phones {
        color: #848484;
        text-shadow: 0 0;
        margin-bottom: 0;
        margin-top: 15px;
    }
</style>