<?php
/**
 * @var Magento\Customer\Block\Account\Customer $block
 */
?>
<div class="menu-minelab-customer-links hidden-xs">
    <div class="btn-group">
        <a href="<?= $this->getBaseUrl() . 'customer/account/'; ?>" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <?php if($block->customerLoggedIn()) : ?>
                <li><a href="<?= $this->getBaseUrl() . 'customer/account/'; ?>">Minha conta</a></li>
                <li><a href="<?= $this->getBaseUrl() . 'customer/account/logout'; ?>">Sair</a></li>
            <?php else : ?>
                <li><a href="<?= $this->getBaseUrl() . 'customer/account/login'; ?>">Entrar</a></li>
                <li><a href="<?= $this->getBaseUrl() . 'customer/account/create'; ?>">Criar conta</a></li>
            <?php endif; ?>
        </ul>
    </div>
</div>