<?php
/**
 * @var Magento\Framework\View\Element\Template $block
 */
?>
<div class="menu-minelab-sites-links">
    <div class="btn-group">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="<?= $this->getViewFileUrl('images/flag-brasil.jpg'); ?>" alt="Site do Brasil"><span class="hidden-xs hidden-sm">pt-br <span class="glyphicon glyphicon-menu-down"></span></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="https://www.minelab.com/" target="_blank"><img src="<?= $this->getViewFileUrl('images/flag-english.jpg'); ?>" alt="Site dos EUA"><span class="hidden-xs hidden-sm">en-us <span class="glyphicon glyphicon-menu-right"></span></span></a></li>
        </ul>
    </div>
    <div class="visible-xs visible-sm">
        <button type="button" class="btn btn-search" onclick="jQuery('.search-mobile-wrapper').toggleClass('show'); setTimeout(function(){ jQuery('.search-mobile-wrapper input').focus() }, 550);">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <div class="search-mobile-wrapper">
            <form action="/catalogsearch/result/">
                <input type="text" name="q" autofocus placeholder="Faça sua busca..." class="form-control">
                <button type="button" class="btn close" onclick="jQuery('.search-mobile-wrapper').toggleClass('show')">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </form>
        </div>
        <div class="go-to-cart">
<!--            <a href="--><?//= $this->getBaseUrl() . 'checkout/cart'; ?><!--"></a>-->
            <?= $block->getLayout()->createBlock('Magento\Checkout\Block\Cart\Sidebar')->setTemplate('Magento_Checkout::cart/minicart.phtml')->toHtml(); ?>
        </div>
    </div>
</div>