<form class="form min subscribe" action="<?php echo $block->escapeUrl($block->getFormActionUrl()) ?>" method="post">
    <div class="input-group">
        <input name="email" class="form-control" type="email" placeholder="<?php echo $block->escapeHtml(__('Digite seu e-mail')) ?>" required/>
        <span class="input-group-btn">
            <button class="btn btn-default action subscribe primary " type="submit"><?php echo $block->escapeHtml(__('Enviar')) ?></button>
        </span>
    </div>
</form>