<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="block-newsletter" style="background-image: url(<?= $this->getViewFileUrl('images/bloco-newsletter-bg.jpg'); ?>);">
    <div class="container">
        <div class="block newsletter">
            <div class="content row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-4">
                    <div class="text">
                        <h3 class="font-alfa-slab-one"><?= __('Receba novidades'); ?></h3>
                        <p><?= __('Inscreva-se ao lado para receber as nossas novidades retamente na seu e-mail.'); ?></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
                    <form class="form subscribe" action="<?php echo $block->escapeUrl($block->getFormActionUrl()) ?>" method="post">
                        <div class="input-group">
                            <input name="email" class="form-control" type="email" placeholder="<?php echo $block->escapeHtml(__('Digite seu e-mail')) ?>" required/>
                            <span class="input-group-btn">
                                <button class="btn btn-default action subscribe primary " type="submit"><?php echo $block->escapeHtml(__('Enviar')) ?></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>