<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Minelab\Product\Block\View\BannerRole
 */
?>
<?php $banner = $block->getFromTop(); ?>
<?php if( ! is_null($banner)) : ?>
    <div class="product-banner-top">
        <div class="product-banner-img" style="background-image: url(<?= $banner; ?>);">
            <div class="linhas hidden-xs hidden-sm"></div>
            <h1 class="font-alfa-slab-one"><?= $block->getProduct()->getName(); ?></h1>
        </div>
    </div>
<?php endif; ?>