<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Minelab\Product\Block\View\BannerRole
 */
?>
<?php $features = $block->getFeatures(); ?>
<?php $imgParticularsSpotlight = $block->getImgFeaturesSpotlight(); ?>
<?php if(count($features) > 0 || ! empty($imgParticularsSpotlight)) : ?>
    <div class="product-particulars">
        <div class="product-wrapper-particulars">
            <?php if(count($features) > 0) : ?>
                <div class="titulo">
                    <div class="col-md-3 hidden-xs hidden-sm"><div class="row linha-1"></div></div>
                    <div class="col-md-6">
                        <h3 class="font-alfa-slab-one"><?= __('Características'); ?></h3>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm"><div class="row linha-2"></div></div>
                </div>
                <div class="container">
                    <ul>
                        <?php foreach($features as $feature) : ?>
                            <li>
                                <img src="<?= $this->getViewFileUrl('images/product-features-img/' . $feature['img']); ?>" alt="">
                                <p class="font-alfa-slab-one"><?= $feature['text']; ?></p>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            <?php endif; ?>
        </div>
        <?php if( ! empty($imgParticularsSpotlight)) : ?>
            <div class="product-wrapper-img">
                <img src="<?= $imgParticularsSpotlight; ?>" class="img-responsive center-block">
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>