<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info')) : ?>
    <?php
        $layout = $block->getLayout();
        $details = array();
        foreach ($detailedInfoGroup as $name) :
            $html = $layout->renderElement($name);
            if (!trim($html)) {
                continue;
            }

            $childData = array();
            if($alias = $layout->getElementAlias($name))
                $childData = $block->getChildData($alias);

            $details[$name] = array(
                                        'html'      =>  $html,
                                        'title'     =>  isset($childData['title']) ? $childData['title'] : '',
                                        'alias'     =>  uniqid(),
                                        'arguments' =>  $childData,
                                    );
        endforeach;
    ?>
    <div class="product info detailed">
        <div class="container">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <?php $abaAtiva = FALSE; ?>
                <?php foreach ($details as $name => $detail) : ?>
                    <li role="presentation" class="<?php if( ! $abaAtiva) { $abaAtiva = TRUE; echo 'active'; } ?> <?= $detail['alias']; ?>"><a href="#product-tab-<?= $detail['alias']; ?>" aria-controls="<?= $detail['alias']; ?>" role="tab" data-toggle="tab" class="font-alfa-slab-one"><?= $detail['title']; ?></a></li>
                <?php endforeach; $abaAtiva = FALSE; ?>
            </ul>
            <div class="tab-content">
                <?php foreach ($details as $detail) : ?>
                    <div role="tabpanel" class="tab-pane fade <?php if( ! $abaAtiva) { $abaAtiva = TRUE; echo 'in active'; } ?> <?= $detail['alias']; ?>" id="product-tab-<?= $detail['alias']; ?>">
                        <div class="wrapper">
                            <?= $detail['html']; ?>
                        </div>
                    </div>
                <?php endforeach; $abaAtiva = FALSE; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
