<?php /** @var $block \Minelab\Product\Block\View\Data */ ?>
<?php $productReviews = $block->getReviews(); ?>
<?php if( ! empty($productReviews)) : ?>
    <div class="carousel slide" data-ride="carousel" id="product-reviews-carousel" style="background-image: url(<?= $this->getViewFileUrl('images/product-reviews-bg.jpg'); ?>);">
        <div class="container">
            <?php if(count($productReviews) > 1) : ?>
                <ol class="carousel-indicators">
                    <?php foreach($productReviews as $index => $review) : ?>
                        <li data-target="#product-reviews-carousel" data-slide-to="<?= $index; ?>" class="<?= $index == 0 ? 'active' : ''; ?>"></li>
                    <?php endforeach; ?>
                </ol>
            <?php endif; ?>
            <div class="carousel-inner">
                <?php foreach($productReviews as $index => $review) : ?>
                    <div class="item <?= $index == 0 ? 'active' : ''; ?>">
                        <p class="review font-alfa-slab-one"><?= $review['detail']; ?></p>
                        <p class="nickname font-alfa-slab-one"><?= $review['nickname']; ?></p>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
        <?php if(count($productReviews) > 1) : ?>
            <a data-slide="prev" href="#product-reviews-carousel" class="left carousel-control"><span class="glyphicon glyphicon-menu-left"></span></a>
            <a data-slide="next" href="#product-reviews-carousel" class="right carousel-control"><span class="glyphicon glyphicon-menu-right"></span></a>
        <?php endif; ?>
    </div>
    <script type="text/javascript">
        requirejs(['Magento_Theme/js/bootstrap.min'], function (jQueryBootstrap) {
            jQuery('#product-reviews-carousel').carousel({
                pause: true,
                interval: 5000
            });
        });
    </script>
<?php endif; ?>
