<?php /** @var $block \Minelab\Product\Block\View\Data */ ?>
<?php $specifications = $block->getSpecifications(); ?>
<?php if( ! empty(trim($specifications))): ?>
    <div class="block specifications" data-limit="0" data-shuffle="0">
        <div class="block-title title font-alfa-slab-one">
            <strong id="block-specifications-heading" role="heading"><?= __('Especificações'); ?></strong>
        </div>
        <div class="block-content block-content-specifications content" aria-labelledby="block-specifications-heading">
            <?= $specifications; ?>
        </div>
    </div>
<?php endif; ?>