<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $type = 'widget-new-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = __('Nossos detectores');
    $items = $block->getProductCollection()->getItems();

    $showPrice = false;
    $showWishlist = false;
    $showCompare = false;
    $showCart = false;
    $templateType = FALSE;// \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
}
?>

<?php if ($exist):?>
    <div class="home-detectores-destaque" style="background-image: url(<?= $this->getViewFileUrl('images/home-bg-detectores-destaque.jpg'); ?>);">
        <div class="title">
            <div class="col-xs-8 col-md-3 col-lg-4"><div class="row line-1"></div></div>
            <div class="col-xs-6 col-md-6 col-lg-4">
                <div class="row">
                    <h3 class="font-alfa-slab-one"><?= /* @escapeNotVerified */ $title ?></h3>
                </div>
            </div>
            <div class="hidden-xs col-md-3 col-lg-4"><div class="row line-2"></div></div>
        </div>
        <div class="container">
            <div class="block widget block-new-products <?= /* @escapeNotVerified */ $mode ?>">
                <div class="block-content">
                    <?= /* @escapeNotVerified */ '<!-- ' . $image . '-->' ?>
                    <div class="products-<?= /* @escapeNotVerified */ $mode ?> <?= /* @escapeNotVerified */ $mode ?>">
                        <ol class="product-items <?= /* @escapeNotVerified */ $type ?>">
                            <?php foreach ($items as $_item): ?>
                                <li class="product-item">
                                    <div class="product-item-info">
                                        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product-item-photo">
                                            <?= $block->getImage($_item, $image)->toHtml() ?>
                                        </a>
                                        <div class="product-item-details">
                                            <strong class="product-item-name">
                                                <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                                   href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>"
                                                   class="product-item-link font-alfa-slab-one">
                                                    <?= $block->escapeHtml($_item->getName()) ?>
                                                </a>
                                            </strong>
                                            <div class="product-item-short-description">
                                                <?= $_item->getShortDescription(); ?>
                                            </div>
                                            <?php if($showPrice) : ?>
                                                <?= $block->getProductPriceHtml($_item, $type); ?>
                                            <?php endif; ?>

                                            <a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="see-more btn btn-success btn-block btn-gradient-success"><?= __('Saiba mais'); ?></a>

                                            <?php if ($templateType): ?>
                                                <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                            <?php endif; ?>

                                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                                <div class="product-item-actions">
                                                    <?php if ($showCart): ?>
                                                        <div class="actions-primary">
                                                            <?php if ($_item->isSaleable()): ?>
                                                                <?php if (!$_item->getTypeInstance()->isPossibleBuyFromList($_item)): ?>
                                                                    <button class="action tocart primary"
                                                                            data-mage-init='{"redirectUrl":{"url":"<?= /* @escapeNotVerified */ $block->getAddToCartUrl($_item) ?>"}}'
                                                                            type="button" title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>">
                                                                        <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                                                    </button>
                                                                <?php else: ?>
                                                                    <?php
                                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                                    ?>
                                                                    <button class="action tocart primary"
                                                                            data-post='<?= /* @escapeNotVerified */ $postData ?>'
                                                                            type="button" title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>">
                                                                        <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                                                    </button>
                                                                <?php endif; ?>
                                                            <?php else: ?>
                                                                <?php if ($_item->getIsSalable()): ?>
                                                                    <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                                <?php else: ?>
                                                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                    <?php if ($showWishlist || $showCompare): ?>
                                                        <div class="actions-secondary" data-role="add-to-links">
                                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                                <a href="#"
                                                                   data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams($_item) ?>'
                                                                   class="action towishlist" data-action="add-to-wishlist"
                                                                   title="<?= /* @escapeNotVerified */ __('Add to Wish List') ?>">
                                                                    <span><?= /* @escapeNotVerified */ __('Add to Wish List') ?></span>
                                                                </a>
                                                            <?php endif; ?>
                                                            <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                                <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                                <a href="#" class="action tocompare"
                                                                   data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams($_item) ?>'
                                                                   title="<?= /* @escapeNotVerified */ __('Add to Compare') ?>">
                                                                    <span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span>
                                                                </a>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </li>
                            <?php endforeach ?>
                        </ol>
                    </div>
                    <?= $block->getPagerHtml() ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
