body {
    font-family: 'Roboto', sans-serif;
}

.mark, mark {
    background-color: transparent;
}

.label {
    color: #000;
}

.font-alfa-slab-one {
    font-family: 'Alfa Slab One', cursive;
}

.page-header {
    margin-top: 0;
    background-color: #f9f9f9;
    padding-bottom: 0px;
    /*margin-bottom: 10px !important;*/
    float: left;
    width: 100%;
}

.page-header:after {
    content: '';
    height: 10px;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    background: rgb(89,113,53);
    background: linear-gradient(0deg, rgba(89,113,53,1) 50%, rgba(246,182,50,1) 50%);
    z-index: 5;
}

.page-header .header.content {
    padding-top: 0;
}

.page-header .panel.header {
    display: none;
}

.page-header .header.content .logo {
    background-color: white;
    width: 170px;
    height: 125px;
    display: flex;
    margin-bottom: 0px;
    box-shadow: -2px 0px 5px #00000029;
    margin-left: 0;
    justify-content: center;
    align-items: center;
}

.page-header .header.content .logo img {
    
}

.page-header .header.content .menu-minelab-sites-links {
    float: left;
}

.page-header .header.content .menu-minelab-sites-links img {
    height: 35px;
    width: 35px;
    object-fit: contain;
    margin-right: 10px;
}

.page-header .header.content .menu-minelab-sites-links a {
    color: gray;
    float: left;
    padding: 0px 10px;
}

.page-header .header.content .menu-minelab-sites-links span.glyphicon {
    color: orange;
}

.page-header .header.content .menu-minelab-sites-links button.btn-search {
    background-color: transparent;
    font-size: 17px;
}

.page-header .header.content .menu-minelab-sites-links button.btn-search span.glyphicon {
    color: #e1261c;
}

.page-header .header.content .menu-minelab-sites-links ul.dropdown-menu {
    border-radius: 0;
    padding: 0;
    min-width: auto;
}

.page-header .header.content .menu-minelab-sites-links ul.dropdown-menu li:last-of-type {
    margin-bottom: 0;
}

.page-header .header.content .block.block-search {
    width: 350px;
}

.page-header .header.content .block.block-search,
.page-header .header.content .minicart-wrapper,
.page-header .header.content > li {
    margin-top: 15px;
}

.page-header .header.content > li {
    float: right;
    display: block;
    padding-top: 7.5px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.page-header .header.content > li a {
    color: transparent;
    width: 15px;
    height: 20px;
    overflow: hidden;
    float: left;
}

.page-header .header.content > li a:before {
    content: "\e008";
    font-family: 'Glyphicons Halflings';
    color: #191919;
}

.page-header .header.content #search_mini_form .field.search .control #search {
    border-radius: 20px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    height: auto;
    font-style: italic;
    border-color: #ccc;
}

.page-header .navbar-toggle {
    background-color: #191919;
    margin: 0;
    height: 60px;
    border-radius: 0;
    margin-left: 15px;
    border: none;
    top: 0;
    position: absolute;
    right: 0;
}

.page-header .navbar-toggle:before {
    content: '';
    width: 15px;
    height: inherit;
    background-color: #191919;
    position: absolute;
    top: 0px;
    left: -15px;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
}

.page-header .navbar-toggle .icon-bar {
    background-color: #f6b632;
}

.page-header .header.content #search_mini_form .actions button.action.search {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    opacity: 1;
}

.page-header .header.content #search_mini_form .actions button.action.search:before {
    color: #e1261c;
}

.menu-navigation,
.menu-navigation .navbar {
    background: #191919;
}

.menu-navigation {
    float: left;
    width: 100%;
    margin-top: -50px;
}

.menu-navigation .navbar {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background: #191919;
}

.menu-navigation .navbar .navbar-nav > li {
    margin-bottom: 0;
}

.menu-navigation .navbar .navbar-nav > li a {
    color: #fff;
    transition: color 200ms ease-in-out;
    background-color: #191919;
    background-image: none;
}

.menu-navigation .navbar .navbar-nav > li a:hover {
    color: #e1261c;
    background: transparent;
}

.menu-navigation ul.dropdown-menu {
    background-color: #191919;
    border-top: 0;
}

.menu-navigation ul.dropdown-menu > li a {
    padding: 5px 15px 5px 30px;
    font-size: 12px;
    opacity: 0.7;
}

.menu-navigation ul li.dropdown a.dropdown-toggle .caret {
    width: 12px;
    border: 0;
}

.menu-navigation ul li.dropdown a.dropdown-toggle .caret:before {
    content: "\e259";
    font-family: "Glyphicons Halflings";
    position: absolute;
    margin-top: -10px;
    color: orange;
}

.menu-navigation ul li.dropdown.open a.dropdown-toggle .caret:before {
    color: #e1261c;
}

.menu-navigation ul.dropdown-menu > li a:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    margin-right: 5px;
    font-size: 12px;
    position: absolute;
    left: 12px;
    opacity: 0.2;
}

.menu-navigation ul.dropdown-menu > li a:hover {
    color: #e1261c;
    text-decoration: underline;
    opacity: 1;
}

.menu-navigation ul.dropdown-menu > li a:hover:before {
    opacity: 1;
}

.sections.nav-sections {
    margin-bottom: 10px;
    margin-top: -50px
}

.sections.nav-sections nav.navigation ul {
    float: right;
}

.sections.nav-sections nav.navigation ul li a {
    color: #fff;
}

.page.messages {
    float: left;
    width: 100%;
    padding: 10px 15px;
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.dropdown-language {
    float: left;
    margin-left: 5px;
    margin-top: 15px;
}

.dropdown-language .dropdown-toggle {
    background-image: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.dropdown-language img,
.dropdown-language img {
    width: 30px;
    margin-right: 10px;
}

.dropdown-language ul {
    min-width: 110px;
}

.dropdown-language ul li a {
    padding: 3px 5px;
}

.dropdown-language ul li:last-of-type {
    margin-bottom: 0px;
}

.btn-gradient-success {
    background: rgb(127,165,66);
    background: linear-gradient(180deg, rgba(127,165,66,1) 25%, rgba(90,114,52,1) 75%, rgba(90,114,52,1) 100%);
    transition: all 350ms ease-in-out;
    color: #fff;
}

.btn-gradient-success:hover,
.btn-gradient-success:focus {
    background: linear-gradient(0deg, rgba(90,114,52,1) 17%, rgba(127,165,66,1) 81%, rgba(110,142,60,1) 90%);
    background-position: unset;
    color: #fff;
}

/*  BLOCOS  */
.block-newsletter {
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;
}

.block-newsletter .block.newsletter {
    width: 100%;
    margin-bottom: 0;
}

.block-newsletter .block.newsletter .content {
    display: flex;
    align-items: center;
}

.block-newsletter .block.newsletter .text h3 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 0;
    color: #df2817;
    letter-spacing: 2px;
}

.block-newsletter .block.newsletter .text p {
    font-style: italic;
    color: #fff;
}

.block-newsletter .block.newsletter input[type="text"],
.block-newsletter .block.newsletter input[type="password"],
.block-newsletter .block.newsletter input[type="url"],
.block-newsletter .block.newsletter input[type="tel"],
.block-newsletter .block.newsletter input[type="search"],
.block-newsletter .block.newsletter input[type="number"],
.block-newsletter .block.newsletter input[type="datetime"],
.block-newsletter .block.newsletter input[type="email"] {
    height: 40px;
    padding: 6px 12px;
}

.block-newsletter .block.newsletter .field .control:before {
    content: '';
}

.form.min.subscribe {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.form.subscribe input.form-control {
    background-clip: border-box;
}

.form.subscribe button.action {
    background-color: #df2817;
    border: 0;
}

.form.subscribe input.form-control,
.form.subscribe button.action {
    border-radius: 0 !important;
    height: 35px;
}

.block-newsletter .form.subscribe button.action {
    height: 40px;
}

.linha-2-cores {
    height: 10px;
    width: 100%;
    background: rgb(89,113,53);
    background: linear-gradient(0deg, rgba(89,113,53,1) 50%, rgba(246,182,50,1) 50%);
}

.page-wrapper .page-footer {
    background-image: url("../images/rodape-bg.jpg");
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;
}

.page-wrapper .page-footer .footer .list-header {
    padding: 5px 15px;
    background-color: #df2817;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    transform: skew(-30deg);
    float: left;
}

.page-wrapper .page-footer .footer .list-header span {
    position: relative;
    white-space: pre-wrap;
    transform: skew(30deg);
    display: inline-block;
}

.page-wrapper .page-footer .footer {
    border-top: 2px solid #df2817;
    padding-top: 45px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}

.page-wrapper .page-footer .footer ul {
    list-style: none;
    padding: 0;
    color: #fff;
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
}

.page-wrapper .page-footer .footer ul.site-map li a {
    color: #fff;
}

.page-wrapper .page-footer .footer ul.site-map li:before {
    color: #df2817;
    content: "\2022";
    font-size: 20px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    margin-top: -5px;
}

.page-wrapper .page-footer .footer ul.redes-sociais {
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-wrapper .page-footer .footer ul.redes-sociais li {
    text-align: center;
    float: left;
    margin-right: 25px;
}

.page-wrapper .page-footer .footer ul.redes-sociais li a img {
    height: 20px;
}

.page-wrapper .page-footer .footer .mpinstagramfeed-container .mpinstagramfeed-header > h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 15px;
}

.page-wrapper .page-footer .footer .mpinstagramfeed-container .mpinstagramfeed-header > div a {
    color: #df2817;
    margin-bottom: 10px;
    font-size: 16px;
    float: left;
    width: 100%;
}

.page-wrapper .page-footer .contacts {
    margin-top: 25px;
    color: #b7b7b7;
}

.page-wrapper .page-footer .contacts .icon-whatsapp {
    margin-bottom: 15px;
}

.page-wrapper .page-footer .contacts .email {
    border-top: 1px solid #484848;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-wrapper .page-footer .contacts .email span {
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
    font-size: 17px;
}

.page-wrapper .page-footer .selo-pagseguro {
    margin-top: 15px;
}

.page-wrapper .page-footer .footer .mpinstagramfeed-container .row.shuffle {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 767px) {
    .page-wrapper .page-footer .footer .mpinstagramfeed-container .row.shuffle .mpinstagramfeed-photo {
        width: calc(50% - 4px) !important;
    }
}

.page-wrapper .page-footer .footer .copyright {
    text-align: center;
    color: #fff;
    padding-top: 10px;
    border-top: 1px solid #fff;
    font-size: 11px;
    margin-top: 35px;
}

.page-wrapper .page-footer .logo-pie-reverse {
    margin-top: 35px;
}

.breadcrumbs {
    width: 100% !important;
    float: left;
    max-width: none !important;
    padding: 0 !important;
    border-bottom: 1px solid #e2dfe0;
}

.breadcrumbs .breadcrumb {
    background-color: transparent;
    margin: 10px 0;
    padding: 0;
}

.breadcrumbs .breadcrumb li {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.breadcrumbs .breadcrumb > li + li:before {
    content: "\e258";
    font-family: 'Glyphicons Halflings';
}

.breadcrumbs .breadcrumb li a {
    color: #a3a3a3;
}

.breadcrumbs .breadcrumb li {
    padding: 5px 0;
}

.breadcrumbs .breadcrumb li.active {
    color: #dc2925;
}

.banner-header-title {
    float: left;
    width: 100%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
}

.banner-header-title .linhas {
    width: 5%;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;
    left: 0;
}

.banner-header-title .linhas:before,
.banner-header-title .linhas:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.banner-header-title .linhas:before {
    height: 1.75px;
    width: 100%;
}

.banner-header-title .linhas:after {
    width: 2.5px;
    height: 130px;
    float: right;
    right: 0;
    -webkit-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
}

.banner-header-title h3 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
}

.search-mobile-wrapper {
    position: absolute;
    right: 0;
    left: 100%;
    background-color: #f1f1f1;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #e2e2e2;
    width: 0;
    overflow: hidden;
}

.search-mobile-wrapper.show {
    transition: 0.5s;
    left: 0;
    width: 100%;
}

.search-mobile-wrapper form {
    height: 75px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.search-mobile-wrapper form input {
    border-radius: 15px;
    width: 80%;
}

.search-mobile-wrapper form button.close {
    margin-left: auto;
    padding: 5px;
    background-color: #ccc;
    border-radius: 100%;
    opacity: 0.5;
    font-size: 14px;
}

.search-mobile-wrapper form button.close span.glyphicon {
    color: #565656 !important;
}

@media (max-width: 768px) {

    .page-header,
    .menu-navigation {
        position: absolute;
        z-index: 11;
        left: 0;
        right: 0;
        top: 0;
    }

    .page-header {
        margin-bottom: 0;
        border-bottom: 0;
        position: fixed;
    }

    .page-header .header.content {
        padding: 0;
    }

    .page-header .header.content .logo {
        height: 70px;
        width: 90px;
        z-index: 6;
        margin-left: 0;
        padding: 10px;
    }

    .page-header:after {
        margin-top: -10px;
    }

    .page-header .header.content > li {
        margin-left: 0;
    }

    .page-header .header.content .menu-minelab-sites-links {
        display: flex;
        align-items: center;
        height: 60px;
        width: calc(100% - 155px);
        justify-content: space-between;
    }

    .page-header .header.content .menu-minelab-sites-links .go-to-cart {
        display: inline;
    }

    .page-header .header.content .menu-minelab-sites-links .go-to-cart .minicart-wrapper {
        margin: 0;
    }

    .page-header .header.content .menu-minelab-sites-links .go-to-cart .minicart-wrapper .action.showcart {
        padding: 0;
    }

    .page-header .header.content .menu-minelab-sites-links .go-to-cart .minicart-wrapper .action.showcart .counter.qty {
        background-color: transparent;
        padding: 0;
        padding-top: 3px;
    }

    .page-header .header.content .menu-minelab-sites-links .go-to-cart .minicart-wrapper .action.showcart .counter.qty .counter-number {
        color: #f6b632;
        font-size: 18px;
        font-weight: 600;
    }

    .page-header .header.content .menu-minelab-sites-links .go-to-cart .minicart-wrapper .action.showcart .counter.qty .counter-number:before {
        display: none;
    }

    .page-header .header.content .menu-minelab-sites-links img {
        margin-right: 0;
    }

    .page-header .header.content .block.block-search {
        display: none;
    }

    .page-header .header.content .minicart-wrapper, .page-header .header.content > li {
        margin-right: 10px;
    }

    .menu-navigation {
        margin-top: 0px;
        top: 70px;
    }

    .menu-navigation .navbar .navbar-collapse {
        border: 0;
    }

    .banner-header-title h3 {
        font-size: 35px;
    }

    .block-newsletter .block.newsletter .content {
        display: block;
    }

    .block-newsletter .block.newsletter .content .text {
        margin-bottom: 20px;
    }

    .page-wrapper .page-footer .footer .list-header,
    .page-wrapper .page-footer .footer .list-header span {
        transform: skew(0deg);
    }

    .page-wrapper .page-footer .footer .list-header {
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        padding-right: 35px;
        padding-left: 35px;
        margin-left: -15px;
    }

    .page-wrapper .page-footer .footer ul.site-map {
        margin-left: 30px;
    }

    .page-wrapper .page-footer .footer ul.site-map li {
        margin-top: 15px;
    }

    .page-wrapper .page-footer .footer ul.site-map li:before {
        left: 25px;
    }

    .page-wrapper .page-footer .logo-pie-reverse {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .page-wrapper .page-footer .footer ul.redes-sociais li {
        float: left;
    }

    .page-wrapper .page-footer .footer ul.redes-sociais li:not(:last-of-type) {
        margin-right: 15px;
    }

    .page-wrapper .page-footer .footer ul.redes-sociais li a img {
        height: 25px;
    }

    .block-newsletter .block.newsletter .text h3 {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    .find-stores-with-filter-block:not(.view-google-maps) .banner-header-title h3 {
        margin-left: 70px;
    }
}

.menu-minelab-customer-links {
    float: right;
    list-style: none;
    margin-top: 15px;
    font-size: 18px;
    padding: 5px;
    padding-top: 8px;
    margin-left: 15px;
}

.menu-minelab-customer-links .dropdown-menu {
    min-width: auto;
}

.menu-minelab-customer-links .dropdown-menu li:last-of-type {
margin-bottom: 0;
}

/* Minicart */
.block-minicart .subtotal span.label span,
#minicart-content-wrapper .minicart-items-wrapper .product-item-details .product-item-pricing .details-qty.qty label.label {
    color: #000;
}

#minicart-content-wrapper .minicart-items-wrapper .product-item-details .product-item-pricing .details-qty.qty label.label {
    padding-left: 0;
    text-align: left;
}

.minicart-wrapper .action.showcart .counter.qty {
    background-color: #f6b632;
    border-radius: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 1px;
}

.minicart-wrapper .action.showcart .counter.qty .counter-number:before {
    content: '';
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%, 30% 50%);
    width: 10px;
    height: 10px;
    background-color: #f6b632;
    position: absolute;
    margin-left: -14px;
    margin-top: 6px;
}

.minicart-wrapper .action.showcart:before,
.menu-minelab-customer-links a {
    color: #e1261c;
}

/* Modal */
.modal-popup .modal-header {
    padding-bottom: 20px;
    border-top: 3px #e1261c solid;
    border-bottom: 0;
}

.modal-popup .modal-content {
    box-shadow: none;
    border: none;
}

.popup-authentication .block-authentication {
    border-top: none !important;
}

.popup-authentication .block-authentication .block[class] ul {
    padding-left: 0;
}

.popup-authentication .actions-toolbar .primary .action {
    border-radius: 0;
}

.popup-authentication .actions-toolbar .primary .action {
    background-color: #000;
    border-color: #000;
    font-weight: 600;
    font-size: 17px;
}

.popup-authentication .actions-toolbar .primary .action.action-login {
    background: linear-gradient(0deg, rgba(90,114,51,1) 17%, rgba(127,165,66,1) 90%);
    color: #ffffff;
    border: none;
    letter-spacing: 1px;
}

.modal-popup .modal-title {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}

.modal-popup .modal-footer {
    padding: 15px;
    border-top: 0;
}

/* Modal Endereço */
#opc-new-shipping-address {
    padding-top: 20px;
    border-top: none;
}

#co-shipping-form .fieldset > .field {
    margin-bottom: 20px;
}

#co-shipping-form .fieldset > .field[name="shippingAddress.country_id"] {
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
}

#co-shipping-form #shipping-save-in-address-book {
    float: left;
}

.find-stores-block,
.find-stores-with-filter-block,
.find-stores-block .find-stores-with-filter-block.view-google-maps #gmaps-stores-filter,
.find-stores-with-filter-block .find-a-store .filter-container,
.find-stores-with-filter-block .find-a-store .stores-container {
    float: left;
    width: 100%;
}

.find-stores-block .find-stores-with-filter-block.view-google-maps #gmaps-stores-filter {
    height: 480px;
}

.find-stores-block .find-stores-with-filter-block.view-google-maps .banner-header-title {
    background-color: #080808;
    background-image: none !important;
    min-height: auto;
    padding-top: 40px;
    border-top: 4px solid #f5b52d;
    box-shadow: inset 0 4px 0 #5a7233;
}

.find-stores-block .find-stores-with-filter-block.view-google-maps .banner-header-title .linhas {
    display: none;
}

.find-stores-block .find-stores-with-filter-block.view-google-maps .banner-header-title h3 {
    text-align: center;
    color: #df2817;
}

.find-stores-with-filter-block .find-a-store .filter-container {
    padding-bottom: 25px;
    border-bottom: 3px solid #fac02e;
}

.find-stores-with-filter-block .find-a-store .filter-container p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #6f6f6f;
}

.find-stores-block .find-stores-with-filter-block.view-google-maps .find-a-store .filter-container p {
    color: #d8d8d8;
    margin-top: 0;
    margin-bottom: 35px;
}

.find-stores-with-filter-block .find-a-store .filter-container form .btn-find {
    background-color: #df2817;
    border-radius: 0;
    color: #fff;
}

.find-stores-with-filter-block .find-a-store .filter-container form .form-control {
    border-radius: 0;
    background-color: #f9f9f9;
}

.find-stores-block .find-stores-with-filter-block.find-a-store .filter-container form .btn-find,
.find-stores-block .find-stores-with-filter-block.find-a-store .filter-container form .form-control {
    height: 40px;
}

.find-a-store .stores-container {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.find-stores-block .find-stores-with-filter-block.view-google-maps .stores-container {
    padding: 0;
}

legend {
    width: auto;
}

@media (max-width: 767px) {
    .header.content > .minicart-wrapper {
        display: none!important;
    }
}

.opc-progress-bar-item._active:before,
.opc-progress-bar-item._active > span:before {
    background: #e1261c;
}

.opc-progress-bar-item._complete > span:after,
.opc-progress-bar-item._active > span:after {
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    line-height: 25px;
    font-size: 15px;
}

.opc-progress-bar-item._active > span,
.opc-progress-bar-item._active > span:after {
    color: #e1261c;
}

.opc-progress-bar-item > span {
    font-weight: 600;
    font-size: 1.5rem;
}

/* MODAL */
#modal-question-after-add-product-to-cart {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #0000007a;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-question-after-add-product-to-cart .modal-wrapper {
    background-image: url("../images/modal-question-after-add-product-to-cart-bg.png");
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content:after {
    content: '';
    background-color: #e1261c;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content {
    min-width: 300px;
    max-width: 720px;
    float: left;
    padding: 40px 30px;
    border-radius: 0;
    border: 0;
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content .icon {
    text-align: right;
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content .glyphicon-shopping-cart {
    color: #e1261c;
    font-size: 70px;
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content .text {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content .btns {
    margin-top: 50px;
    z-index: 1;
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content .btns button {
    color: #fff;
    padding: 12.5px 10px;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content .btns .continue-buying {
    background: linear-gradient(0deg, rgba(90, 114, 51, 1) 17%, rgba(127, 165, 66, 1) 90%);
}

#modal-question-after-add-product-to-cart .modal-wrapper .modal-content .btns .go-to-checkout {
    background: linear-gradient(0deg, rgb(4, 4, 4) 17%, rgb(109, 109, 109) 90%);
}

@media (max-width: 768px) {
    #modal-question-after-add-product-to-cart .modal-wrapper .modal-content {
        padding-left: 0;
        padding-right: 0;
    }

    #modal-question-after-add-product-to-cart .modal-wrapper .modal-content .icon {
        text-align: center;
    }

    #modal-question-after-add-product-to-cart .modal-wrapper .modal-content .text {
        text-align: center;
        margin-top: 15px;.
    }

    #modal-question-after-add-product-to-cart .modal-wrapper .modal-content .btns button {
        font-size: 12px;
        letter-spacing: 0.5px;
    }
}