#maincontent {
    max-width : 100%;
    padding: 0;
}

#maincontent .columns {
    height: 0;
}

#maincontent .block-static-block.widget {
    margin-bottom: 0;
}

#maincontent .columns .column.main > p {
    margin-bottom: 0;
}

.home-banner-principal {
    background-position: center;
    background-size: cover;
    float: left;
    width: 100%;
    z-index: 2;
    position: relative;
}

.home-banner-principal .banner-wrapper {
    height: calc(100vh - 117px);
    display: flex;
    align-items: normal;
    flex-direction: column;
    justify-content: center;
}

.home-banner-principal .banner-wrapper .title {
    float: left;
    width: 85%;
    color: #fff;
    text-shadow: 3px 3px 3px #00000085;
    font-size: 65px;
    line-height: 75px;
    text-transform: uppercase;
    transform: rotate(-5deg);
}

.home-banner-principal .banner-wrapper .title span {
    display: block;
}

.home-banner-principal .banner-wrapper .title span:nth-child(even) {
    margin-left: 40px;
    margin-top: 5px;
}

.home-banner-principal .banner-wrapper .title span.text-small-size {
    font-size: 75%;
}

.home-banner-principal .banner-wrapper .title span.text-bigger-size {
    font-size: 115%;
}

.home-banner-principal .banner-wrapper .subtitle {
    float: left;
    width: 100%;
    margin-top: 80px;
    opacity: 0.8;
    padding-left: 15%;
}

.home-banner-principal a {
    color: #fff;
    border-radius: 50%;
    border: 2.5px solid #fff;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.home-banner-sobre img {
    width: 100%;
    max-width: 100%;
}

.home-detectores-destaque {
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 50px;
    float: left;
    width: 100%;
}

.home-detectores-destaque .title {
    text-align: center;
    margin-bottom: 40px;
    float: left;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: inherit;
}

.home-detectores-destaque .title h3 {
    font-size: 38px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

.home-detectores-destaque .title .line-1:before,
.home-detectores-destaque .title .line-1:after,
.home-detectores-destaque .title .line-2:before,
.home-detectores-destaque .title .line-2:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.home-detectores-destaque .title .line-1:before,
.home-detectores-destaque .title .line-2:after {
    height: 1.75px;
    width: 100%;
}

.home-detectores-destaque .title .line-1:after,
.home-detectores-destaque .title .line-2:before {
    width: 2px;
    height: 60px;
    -webkit-transform: skew(35deg);
    -ms-transform: skew(35deg);
    transform: skew(35deg);
    margin-top: -30px;
}

.home-detectores-destaque .title .line-1:after {
    float: right;
    right: 0;
}

.home-detectores-destaque .title .line-2:before {
    float: left;
    left: 0;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-left: 0;
    padding: 30px 50px 30px 20px;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info a.product-item-photo {
    float: left;
    width: 60%;
    overflow: hidden;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info a.product-item-photo img {
    height: 300px;
    object-fit: contain;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info a.product-item-photo .product-image-container {
    width: 100% !important;
    display: block;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info a.product-item-photo .product-image-container .product-image-wrapper {
    padding-bottom: 0 !important;
    overflow: inherit;
    float: left;
    width: 100%;
    height: 250px;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info a.product-item-photo .product-image-container .product-image-wrapper img.product-image-photo {
    position: inherit;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details {
    float: left;
    width: 40%;
    padding-left: 30px;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-name {
    background: rgba(223,40,23,1);
    background: -moz-linear-gradient(90deg, rgba(90,114,51,1) 5px, rgba(245,181,45,1) 5px, rgba(245,181,45,1) 10px, rgba(223,40,23,1) 10px);
    background: -webkit-linear-gradient(90deg, rgba(90,114,51,1) 5px, rgba(245,181,45,1) 5px, rgba(245,181,45,1) 10px, rgba(223,40,23,1) 10px);
    background: linear-gradient(90deg, rgba(90,114,51,1) 5px, rgba(245,181,45,1) 5px, rgba(245,181,45,1) 10px, rgba(223,40,23,1) 10px);
    min-height: 70px;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    margin: 0;
    transform: skew(-30deg);
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-name a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 19px;
    float: left;
    width: 100%;
    z-index: 2;
    position: relative;
    padding-left: 40px;
    padding-right: 15px;
    transform: skew(30deg);
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-short-description {
    height: 85px;
    overflow: hidden;
    font-size: 12px;
    margin-top: 20px;
    font-style: italic;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details a.see-more {
    color: #fff;
    padding: 12px 12px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-name,
.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-short-description,
.home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details a.see-more {
    float: left;
}

.home-minelab-apresentation {
    float: left;
    width: 100%;
}

.home-minelab-apresentation .leader,
.home-minelab-apresentation .largest-manufacturer {
    float: left;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.home-minelab-apresentation .leader {
    align-items: center;
}

.home-minelab-apresentation .leader h3 {
    font-size: 65px;
    letter-spacing: 3px;
}

.home-minelab-apresentation .leader small,
.home-minelab-apresentation .largest-manufacturer small{
    font-style: italic;
}

.home-minelab-apresentation .leader h3,
.home-minelab-apresentation .leader small {
    color: #fff;
}

.home-minelab-apresentation .leader small {
    font-size: 13.7px;
    float: left;
    margin-bottom: 20px;
}

.home-minelab-apresentation .leader img {
    float: right;
    position: absolute;
    right: 0;
    margin-top: 15px;
    height: calc(100vh + 30px);
    object-fit: cover;
    z-index: 1;
}

.home-minelab-apresentation .leader .visible-xs.visible-sm {
    filter: drop-shadow(1px 3px 5px black);
}

.home-minelab-apresentation .leader .visible-xs.visible-sm img {
    position: inherit;
    height: auto;
    clip-path: polygon(38% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 50%);
}

.home-minelab-apresentation .leader .lines {
    width: 25%;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;
    left: 0;
}

.home-minelab-apresentation .leader .lines:before,
.home-minelab-apresentation .leader .lines:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.home-minelab-apresentation .leader .lines:before {
    height: 1.75px;
    width: 100%;
}

.home-minelab-apresentation .leader .lines:after {
    width: 2.5px;
    height: 130px;
    float: right;
    right: 0;
    -webkit-transform: skew(35deg);
    -ms-transform: skew(35deg);
    transform: skew(35deg);
}

.home-minelab-apresentation .largest-manufacturer {
    align-items: flex-end;
    padding-bottom: 50px;
    position: relative;
    max-height: 750px;
}

.home-minelab-apresentation .largest-manufacturer h3 {
    color: #df2817;
    font-size: 35px;
    margin-bottom: 50px;
}

.home-minelab-apresentation .largest-manufacturer .description {
    background: rgba(223,40,23,1);
    background: -moz-linear-gradient(90deg, rgba(90,114,51,1) 5px, rgba(245,181,45,1) 5px, rgba(245,181,45,1) 10px, rgba(223,40,23,1) 10px);
    background: -webkit-linear-gradient(90deg, rgba(90,114,51,1) 5px, rgba(245,181,45,1) 5px, rgba(245,181,45,1) 10px, rgba(223,40,23,1) 10px);
    background: linear-gradient(90deg, rgba(90,114,51,1) 5px, rgba(245,181,45,1) 5px, rgba(245,181,45,1) 10px, rgba(223,40,23,1) 10px);
    color: #fff;
    margin-top: 50px;
    transform: skew(30deg);
    overflow: hidden;
    padding: 30px 25px 30px 35px;
    font-size: 14px;
}

.home-minelab-apresentation .largest-manufacturer .description:before {
    content: '';
}


.home-minelab-apresentation .largest-manufacturer .description .rotate {
    position:relative;
    white-space: pre-wrap;
    transform: skew(-30deg);
    display:inline-block;
    font-style: italic;
}

.home-minelab-apresentation .largest-manufacturer .lines {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
}

.home-minelab-apresentation .largest-manufacturer .lines:before,
.home-minelab-apresentation .largest-manufacturer .lines:after {
    content: '';
    background-color: #eea949;
    position: absolute;
    z-index: 1;
}

.home-minelab-apresentation .largest-manufacturer .lines:before {
    height: 2px;
    width: 100%;
}

.home-minelab-apresentation .largest-manufacturer .lines:after {
    width: 2.5px;
    height: 110px;
    float: right;
    right: 0px;
    -webkit-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
}

.home-minelab-apresentation .largest-manufacturer .detector-left,
.home-minelab-apresentation .largest-manufacturer .detector-right {
    position: absolute;
    z-index: 1;
}

.home-minelab-apresentation .largest-manufacturer .detector-left {
    left: 0;
    top: 0;
    margin-top: -30vh;
}

.home-minelab-apresentation .largest-manufacturer .detector-right {
    right: 0;
    margin-top: -30px;
    z-index: 1;
}

.home-minelab-apresentation .bg-footer {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {

    .home-minelab-apresentation .leader h3 {
        font-size: 45px;
        margin-top: 50px;
    }

    .home-banner-principal .banner-wrapper {
        height: 100vh;
    }

    .home-banner-principal .banner-wrapper .title {
        font-size: 35px;
        line-height: 45px;
    }

    .home-banner-principal .banner-wrapper .title span:nth-child(even) {
        margin-left: 0;
    }

    .home-banner-principal .banner-wrapper .subtitle {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 5px;
    }

    .home-banner-principal .banner-wrapper .subtitle img {
        margin: 0 auto;
        display: block;
        height: 60px;
    }

    .home-minelab-apresentation .leader {
        padding-top: 70px;
        display: block;
        height: auto;
        padding-bottom: 15px;
        background-color: #e9e9e9;
        background-size: 100% 80%;
        background-position-y: top;
    }

    .home-minelab-apresentation .leader .lines {
        width: 80%;
        margin-top: 0;
    }

    .home-minelab-apresentation .leader .lines:after {
        height: 80px;
    }

    .home-minelab-apresentation .largest-manufacturer {
        align-items: center;
        max-height: none;
        padding-bottom: 0;
        padding-top: 120px;
        height: auto;
        width: 100%;
        overflow: inherit;
    }

    .home-minelab-apresentation .largest-manufacturer h3 {
        font-size: 30px;
    }

    .home-minelab-apresentation .largest-manufacturer .lines {
        width: 55%;
    }

    .home-minelab-apresentation .largest-manufacturer .lines:after {
        height: 70px;
    }

    .home-minelab-apresentation .largest-manufacturer .description-wrapper {
        overflow: hidden;
    }

    .home-minelab-apresentation .largest-manufacturer .description {
        max-width: calc(90% - 40px);
        margin-left: 40px;
        padding-top: 160px;
        margin-top: 80px;
        background: rgba(223,40,23,1);
    }

    .home-detectores-destaque .title {
        display: block;
        margin-bottom: 35px;
    }

    .home-detectores-destaque .title h3 {
        font-size: 40px;
        text-align: left;
        padding-left: 20px;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item {
        padding: 20px;
        margin-bottom: 20px;
    }

    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details {
        padding: 0;
    }

    .home-minelab-apresentation {
        margin-top: 100vh;
    }

    .home-minelab-apresentation .bg-footer {
        height: 300px;
        object-fit: cover;
        object-position: left;
    }

    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info a.product-item-photo,
    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details,
    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-name {
        width: 100%;
    }

    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-name,
    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-name a {
        transform: skew(0deg);
    }

    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details .product-item-name a {
        text-align: center;
        padding: 0;
    }

    .home-detectores-destaque .products-grid.grid ol.product-items li.product-item .product-item-info .product-item-details a.see-more {
        margin-top: 10px;
    }

    .home-banner-principal {
        background-position: inherit !important;
        background-size: contain !important;
        background-repeat-y: no-repeat !important;
    }

    .home-minelab-apresentation {
        margin-top: 20vh !important;
    }    
}
