.catalogsearch-result-index .page-wrapper .page-middle {
    margin-top: 90px;
}

.catalogsearch-result-index .page-wrapper .page-middle .page-title-wrapper .page-title,
.catalogsearch-result-index .page-wrapper .page-middle .sub-search-for-content h2 {
    font-size: 16px;
}

.catalogsearch-result-index .search.results .modes {
    display: none;
}

.catalogsearch-result-index .products.wrapper .products {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.catalogsearch-result-index .products.wrapper .grid-item {
    padding: 15px;
}

.catalogsearch-result-index .products.wrapper .grid-item .product-item-info {
    width: auto;
}

.catalogsearch-result-index .products.wrapper .grid-item .product-item-info .product-item-photo {
    display: block;
    text-align: center;
}

.catalogsearch-result-index .products.wrapper .grid-item .product-item-info .product-item-photo .image {
    width: 100%;
    height: 200px;
    object-fit: none;
}

.catalogsearch-result-index .products.wrapper .grid-item:hover {
    box-shadow: 0px 3px 10px #e6e6e6;
}

.catalogsearch-result-index .products.wrapper .grid-item .product-item-link {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 18px;
}

.catalogsearch-result-index .products.wrapper .grid-item .product-item-description {
    height: 50px;
    overflow: hidden;
    font-size: 12px;
    color: #6f6c6c;
    margin-bottom: 10px;
    margin-top: 10px;
}

.catalogsearch-result-index .products.wrapper .grid-item .price-box {
    color: #df2817;
    font-weight: 600;
    font-size: 18px;
}

.catalogsearch-result-index .products.wrapper .grid-item .actions-primary {
    float: left;
    width: 100%;
}

.catalogsearch-result-index .products.wrapper .grid-item .btn-go-to-product {
    border: 1px solid #7fa841;
    color: #7fa841;
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}

.catalogsearch-result-index .products.wrapper .grid-item .btn-go-to-product:hover {
    background: linear-gradient(0deg, rgba(90,114,52,1) 17%, rgba(127,165,66,1) 81%, rgba(110,142,60,1) 90%);
    color: #ffffff;
}