#maincontent {
    max-width : 100%;
    padding: 0;
}

.about-banner-top {
    height: calc(100vh - 117px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.about-banner-top .banner-diagonal {
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    position: absolute;
    top: 127px;
    left: 0;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.about-banner-top .lines {
    left: 0;
    width: 32%;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
}

.about-banner-top .lines:before,
.about-banner-top .lines:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.about-banner-top .lines:before {
    height: 1.75px;
    width: 100%;
}

.about-banner-top .lines:after {
    width: 2.5px;
    height: 120px;
    float: right;
    right: 0;
    -webkit-transform: skew(35deg);
    -ms-transform: skew(35deg);
    transform: skew(35deg);
}

.about-banner-top .text {
    color: #fff;
    font-size: 70px;
    width: 1px;
    line-height: 60px;
    letter-spacing: 2px;
    z-index: 10;
    position: relative;
}

.about-banner-top a {
    color: #fff;
    border-radius: 50%;
    border: 2.5px solid #fff;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.about-banner-top a:hover,
.about-banner-top a:focus,
.about-banner-top a:visited {
    color: #fff;
}

.about-content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-content .title {
    color: #d7261e;
    text-align: center;
    margin-bottom: 50px;
}

.about-content .imgs-situations img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.about-content .content {
    margin-top: 60px;
}

.about-content .content .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content .content .content-img {
    height: 280px;
    border: 2px solid #e1261c;
    border-left: 0;
    left: 0px;
    position: absolute;
    width: 45%;
    margin-left: -120px;
    -webkit-transform: skew(-25deg); /* Chrome, Opera */
    -ms-transform: skew(-25deg); /* IE */
    transform: skew(-25deg); /* Padrão */
}

.about-content .content img {
    height: 460px;
    object-fit: contain;
}

.about-content .content .text {

}

.about-content .banner-video {
    float: left;
    width: 100%;
    background-color: #ccc;
    height: 100vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-content .banner-video a {
    color: #fff;
    background-color: #df2817;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    font-size: 20px;
    transition: all 350ms ease-in-out;
    position: absolute;
    padding-left: 5px;
    padding-top: 1px;
}

.about-content .banner-video a:hover {
    transform: scale(1.03);
}

.about-content .banner-video iframe {
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px) {

    .about-banner-top {
        align-items: flex-end;
        height: calc(100vh - 70px);
    }

    .about-banner-top .container {
        width: 100%;
    }

    .about-banner-top .banner-diagonal {
        top: 70px;
        height: 60vh;
        width: 50%;
    }

    .about-banner-top .lines {
        width: 80%;
    }

    .about-banner-top .lines:after {
        height: 70px;
    }

    .about-banner-top .text {
        margin-bottom: 50px;
        font-size: 55px;
    }

    .about-content .content .container .row {
        display: block;
    }

    .about-content .content .content-img {
        height: 340px;
        margin-top: 70px;
        width: 100%;
    }

    .about-content .content img {
        margin-bottom: 50px;
    }

    .about-content .imgs-situations img {
        margin-bottom: 15px;
    }

    .about-content .content .text {
        text-align: center;
    }
}