.checkout-onepage-success .page-middle {
    margin-top: 50px;
}

.checkout-onepage-success .page-middle #maincontent .page-title-container .container {
    margin: 0;
    padding: 0;
}

.checkout-onepage-success .page-middle .checkout-success .actions-toolbar .primary a.action.primary.continue {
    background: linear-gradient(0deg, rgba(90,114,51,1) 17%, rgba(127,165,66,1) 90%);
    margin-top: 15px;
}

.checkout-onepage-success .page-middle .checkout-success {
    padding: 30px;
    background-color: #eff8e0;
    border-radius: 10px;
}