#maincontent {
    max-width: 100%;
    padding: 0;
}

.columns {
    float: left;
    width: 100%;
}

.product-banner-top {
    float: left;
    width: 100%;
    height: 50vh;
}

.product-banner-top .linhas {
    width: 36%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    position: absolute;
    margin-top: -40px;
}

.product-banner-top .linhas:before,
.product-banner-top .linhas:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.product-banner-top .linhas:before {
    height: 1.75px;
    width: 100%;
}

.product-banner-top .linhas:after {
    width: 2.5px;
    height: 120px;
    float: right;
    right: 0;
    -webkit-transform: skew(35deg); /* Chrome, Opera */
    -ms-transform: skew(35deg); /* IE */
    transform: skew(35deg); /* Padrão */
}

.product-banner-top:before {
    background-image: url('../images/product-bg-banner-top.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.product-banner-top:after {
    background-color: #00000038;
    transform: translate(0, -100%);
    margin-left: 5px;
    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);
    -o-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: blur(40px);
    border-radius: 70px;
}

.product-banner-top:before,
.product-banner-top:after {
    content: '';
    height: inherit;
    width: 25%;
    float: left;
    left: 0;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.product-banner-top .product-banner-img {
    background-size: cover;
    background-position: center;
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-banner-top h1 {
    color: white;
    z-index: 1;
    margin-left: 20%;
    margin-bottom: 0px;
    letter-spacing: 3px;
    font-size: 75px;
    margin-top: 200px;
}

.page-product-container {
    float: left;
    width: 100%;
}

.page-product-container .page-product-media-infos {
    background-image: url('../images/produto-bg-pepita-ouro-esquerda.png'), url('../images/produto-bg-pepita-ouro-direita.png'), url('../images/product-bg-tabs.jpg');
    background-position: left center, right 45px, center;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding-bottom: 50px;
}

.page-product-container .page-product-media-infos .product.media {
    width: 60%;
}

.page-product-container .page-product-media-infos .product-info-main {
    width: 40%;
}

.page-product-container .product-info-main .product.attribute.overview {
    margin-bottom: 35px;
    float: left;
}

.page-product-container .product-info-main .product.attribute.overview p {
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
}

.page-product-container .product-info-main .product-info-price {
    float: left;
    width: 100%;
}

.page-product-container .product-info-main .product-info-price span.price {
    color: #dc2925;
    font-size: 40px !important;
}

.page-product-container .product-info-main .product.alert.stock {
    float: left;
    padding: 0;
    margin-top: 35px;
}

.page-product-container .product-info-main .product.alert.stock a {
    border: 1px solid #7fa841;
    color: #7fa841;
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.page-product-container .product-info-main .product.alert.stock a:hover {
    background: linear-gradient(0deg, rgba(90,114,52,1) 17%, rgba(127,165,66,1) 81%, rgba(110,142,60,1) 90%);
    color: #ffffff;
    text-decoration: none;
}

.page-product-container .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
    border-top: 1px solid #e2dfe0;
    padding-top: 30px;
}

.page-product-container .fotorama-item .fotorama__caption {
    display: none;
}

.page-product-container .field.qty input[type="number"] {
    margin-top: 3px;
}

.page-product-container .field.qty input[type="number"]::-webkit-inner-spin-button {
    height: 52px;
}

.page-product-tabs .product.info.detailed {
    background-image: url('../images/product-bg-tabs.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.page-product-tabs .product.info.detailed ul li a {
    color: black;
    border-radius: 0;
    letter-spacing: 1px;
    padding: 15px;
    border-bottom: 3px solid #ccc;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border-right: 0;
    border-left: 0;
}

.page-product-tabs .product.info.detailed ul li.active a {
    background-color: #e1261c;
    color: #fff;
    border-bottom-color: #e1261c;
}

.page-product-tabs .product.info.detailed ul li.active a:after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #e1261c;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.page-product-tabs .product.info.detailed .tab-content {
    background-color: #ffff;
    margin-top: 50px;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper {
    padding: 35px;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .block-title.title {
    color: #e1261c;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .block-title.title strong {
    font-size: 20px;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol {
    float: left;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li {
    width: 25%;
    max-width: 25%;
    float: left;
    padding: 0 10px;
    display: flex;
    flex: 1 1 auto;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li .product-item-info,
.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li .product-item-info a.product.photo.product-item-photo {
    width: 100%;
    float: left;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li .product-item-info a.product.photo.product-item-photo {
    text-align: center;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li img.product-image-photo {
    border: 1px solid #f0f0f0;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li a.product-item-link {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li .price-box.price-final_price {
    margin-bottom: 5px;
    margin-top: 5px;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li .price-box.price-final_price span.price {
    color: #e1261c;
}

.page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li .short-description {
    font-size: 12px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-particulars,
.product-particulars .product-wrapper-particulars,
.product-particulars .product-wrapper-img {
    float: left;
    width: 100%;

}

.product-particulars {
    background: rgb(227, 235, 237);
    background: -moz-linear-gradient(0deg, rgba(227, 235, 237, 1) 26%, rgba(137, 170, 205, 1) 75%);
    background: -webkit-linear-gradient(0deg, rgba(227, 235, 237, 1) 26%, rgba(137, 170, 205, 1) 75%);
    background: linear-gradient(0deg, rgba(227, 235, 237, 1) 26%, rgba(137, 170, 205, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3ebed", endColorstr="#89aacd", GradientType=1);
}

.product-particulars .product-wrapper-particulars {
    min-height: 350px;
}

.product-particulars .product-wrapper-img {
    background-image: url('../images/produto-bg-ceu-caracteristicas.png');
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: flex-end;
}

.product-particulars .product-wrapper-img img {
    width: 100%;
}

.product-particulars:before {
    content: '';
    height: 10px;
    width: 100%;
    left: 0;
    position: absolute;
    background: rgb(89, 113, 53);
    background: linear-gradient(0deg, rgba(89, 113, 53, 1) 50%, rgba(246, 182, 50, 1) 50%);
}

.product-particulars .titulo {
    float: left;
    width: 100%;
    margin-top: 60px;
}

.product-particulars .titulo h3 {
    text-align: center;
    color: #fff;
    font-size: 55px;
    letter-spacing: 3px;
    margin: 0;
}

.product-particulars .titulo .linha-1:before,
.product-particulars .titulo .linha-1:after,
.product-particulars .titulo .linha-2:before,
.product-particulars .titulo .linha-2:after {
    content: '';
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.product-particulars .titulo .linha-1:before,
.product-particulars .titulo .linha-2:after {
    height: 1.75px;
    width: 100%;
    margin-top: 30px;
}

.product-particulars .titulo .linha-1:after,
.product-particulars .titulo .linha-2:before {
    width: 2px;
    height: 60px;
    -webkit-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    transform: skew(-35deg);
    margin-top: 3px;
}

.product-particulars .titulo .linha-1:after {
    float: right;
    right: 0;
}

.product-particulars .titulo .linha-2:before {
    float: left;
    left: -4px;
}

.product-particulars ul {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 30px;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-particulars ul li {
    width: calc(25% - 40px);
    min-height: 160px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
}

.product-particulars ul li img {
    height: 70px;
    margin: 0 auto;
    float: none;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product-particulars ul li p {
    color: #000;
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
}

#product-reviews-carousel {
    float: left;
    width: 100%;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#product-reviews-carousel .carousel-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-reviews-carousel .carousel-inner {
    width: 75%;
    margin: 0 auto;
}

#product-reviews-carousel .carousel-inner .item {
    min-height: 180px;
}

#product-reviews-carousel .carousel-inner .item p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
}

#product-reviews-carousel .carousel-inner .item p.review {
    font-size: 18px;
    margin-bottom: 20px;
}

#product-reviews-carousel .carousel-inner .item p.nickname {
    font-style: italic;
}

#product-reviews-carousel .carousel-control span {
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
}

.block-content-specifications table {
    width: 100% !important;
}

.block-content-specifications table tbody tr {
    border: 1px solid #d6d6d6;
}

.block-content-specifications table tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

.block-content-specifications table tbody tr td {
    border-left: 1px solid #d6d6d6;
    width: auto !important;
}

.block-content-downloads a.samples-item-link {
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}

.block-content-downloads a.samples-item-link span {
    color: #5e5e5e;
    font-size: 20px;
    opacity: 0.5;
    transition: all 300ms ease-in-out;
}

.block-content-downloads a.samples-item-link:hover span {
    opacity: 1;
}

#product-addtocart-button {
    position: relative;
    padding-left: 34px;
    padding-right: 34px;
    border: none;
    border-radius: none;
    background: linear-gradient(0deg, rgba(90, 114, 51, 1) 17%, rgba(127, 165, 66, 1) 90%);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

#product-addtocart-button span:before {
    display: inline-block;
    padding-right: 10px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    content: "\e116";
}

/* Simulação de FRETE Plugin do MestreMagento */
#simularFrete .field.postcode label.label-mm {
    float: left;
    width: auto;
    color: #dc2925;
    margin-top: 12.5px;
    margin-right: 10px;
}

#simularFrete .field.postcode .control {
    float: right;
    padding-right: 15px;
}

#simularFrete .field.postcode .control input#cep {
    width: 65%;
    padding: 20px 10px;
    margin-bottom: 7.5px;
    box-shadow: 1px 1px 10px -1px #c3c3c3;
    border-color: transparent;
}

#simularFrete .field.postcode .control #sendFrete {
    float: left;
    padding: 12.5px 0;
    border: 1px solid #dc2925;
    background-color: #dc2925;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 25%;
}

#simularFrete ul#containerFrete {
    border: 1px solid #d0d0d0;
    padding: 5px 10px;
    width: auto;
    float: left;
}

#simularFrete ul#containerFrete li {
    width: auto;
    float: none;
    margin-bottom: 0;
}

#simularFrete ul#containerFrete li:last-of-type {
    border-bottom: 0;
}

#product_addtocart_form .box-tocart {
    display: block;
    width: 100%;
    float: left;
}

#product_addtocart_form .box-tocart .fieldset .field.qty {
    display: block;
    float: left;
    width: 20%;
}

#product_addtocart_form .box-tocart .fieldset .actions {
    display: block;
    float: right;
    width: 80%;
    padding-right: 15px;
}

#product_addtocart_form .box-tocart .fieldset .actions #product-addtocart-button {
    width: 100%;
}

@media (max-width: 768px) {

    .product-banner-top .linhas {
        width: 50%;
    }

    .product-banner-top:after {
        transform: translate(0, -70vh);
    }

    .product-banner-top:before,
    .product-banner-top:after {
        height: 45vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
        width: 50%;
    }

    .product-banner-top .linhas:after {
        height: 85px;
    }

    .product-banner-top h1 {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 45px;
        margin-top: 60px;
    }

    .product-particulars .product-wrapper-particulars,
    .product-particulars .product-wrapper-img {
        min-height: 0;
    }

    .product-particulars .titulo h3 {
        font-size: 30px;
    }

    .page-product-content .product.info.detailed {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .page-product-content .product.info.detailed .tab-content {
        margin-top: 25px;
    }

    .page-product-content .product.info.detailed .tab-pane > .wrapper {
        padding: 10px;
    }

    .page-product-container .page-product-media-infos {
        background-image: none;
    }

    .page-product-container .page-product-media-infos .product-info-main {
        width: 100%;
    }

    .page-product-container .page-product-media-infos .product-info-main form .product-options-wrapper .field.postcode {
        float: left;
        width: 100%;
    }

    .page-product-container .page-product-media-infos .product-info-main form .product-options-wrapper .field.postcode .control {
        width: 100%;
    }

    .page-product-container .page-product-media-infos .product.media {
        width: 100%;
    }

    #product_addtocart_form .box-tocart .fieldset .actions,
    #simularFrete .field.postcode .control {
        padding-right: 0;
    }

    #product-addtocart-button {
        margin-top: 27px;
        font-size: 11px;
        padding-left: 0;
        padding-right: 0;
    }

    .product-particulars ul li {
        width: 100%;
    }

    #simularFrete .field.postcode .control input#cep {
        width: 65%;
    }

    #simularFrete .field.postcode .control #sendFrete {
        width: 35%;
    }

    .page-product-tabs .product.info.detailed .tab-pane > .wrapper .products-grid.products-related ol li {
        width: 100%;
        max-width: 100%;
    }
}