.checkout-index-index .page-wrapper .page-middle {
    padding-top: 90px;
}

.checkout-index-index .page-wrapper .page-middle #opc-sidebar {
    float: left;

    width: 100%;
}

.checkout-index-index .page-wrapper .page-middle #opc-sidebar .opc-block-summary .product-item .price {
    color: #e1261c;
}

.checkout-index-index .page-wrapper .page-middle #opc-sidebar .opc-block-summary .product-item .price,
.checkout-index-index .page-wrapper .page-middle #opc-sidebar .product-item-details .product-item-name,
.checkout-index-index .page-wrapper .page-middle #opc-sidebar .product-item-details .details-qty {
    font-weight: 600;
}

.checkout-index-index .page-wrapper .page-middle #opc-sidebar .product-item-details .details-qty .value {
    float: left;
}

.checkout-index-index .page-wrapper .page-middle .opc-block-summary > .title {
    font-size: 1.5em;
}

.checkout-index-index .page-wrapper .page-middle #opc-sidebar .opc-block-summary .label,
.checkout-index-index .page-wrapper .page-middle #checkout-step-shipping .label {
    color: #000;
    font-weight: 600;
}

.checkout-index-index .table-checkout-shipping-method tbody tr {
    background-color: #f5f5f5;
}

.checkout-index-index .table-checkout-shipping-method tbody td:first-child .radio {
    margin: 0 auto;
}

.checkout-index-index .modal-inner-wrap .modal-header {
     padding: 0;
}

.checkout-index-index .field .control._with-tooltip input,
.checkout-index-index .field input[type="text"],
.checkout-index-index .field input[type="password"],
.checkout-index-index .field input[type="url"],
.checkout-index-index .field input[type="tel"],
.checkout-index-index .field input[type="search"],
.checkout-index-index .field input[type="number"],
.checkout-index-index .field input[type="datetime"],
.checkout-index-index .field input[type="email"] {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

#checkout-step-shipping_method .actions-toolbar .primary .button.action.continue.primary,
.payment-method-content .actions-toolbar .primary .action.primary.checkout {
    background: linear-gradient(0deg, rgba(90,114,51,1) 17%, rgba(127,165,66,1) 90%);
}

.checkout-payment-method .payment-option-title .action-toggle {
    color: #e4261c;
}

.checkout-index-index #checkout-shipping-method-load table.table-checkout-shipping-method {
    width: 100%;
    margin-bottom: 15px;
}

.checkout-index-index .payment-method input[type="radio"] {
    float: left;
}

.checkout-index-index fieldset.field.street label {
    border-color: transparent;
}

.checkout-index-index .btn-recalcular-frete {
    float: right;
    position: absolute;
    right: 0;
    padding: 5px 10px;
}

.checkout-index-index form .fieldset.payment.method {
    margin-bottom: 20px;
}