.customer-account-login .login-container {
    float: left;
    width: 100%;
}

.customer-account-login .login-container .block-customer-login .block-title strong {
    color: #ccc;
}

.customer-account-login .login-container .block-customer-login .fieldset .field,
.customer-account-login .login-container .block-customer-login .fieldset .field {
    margin-bottom: 10px;
}

.customer-account-login .login-container .block-customer-login label.label,
.customer-account-login .login-container .block-customer-login .field .control {
    width: 100%;
    text-align: left;
}

.customer-account-login .login-container .block-customer-login label.label {
    margin-bottom: 10px;
}

.customer-account-login .login-container .block-customer-login .field .control input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.customer-account-login .login-container .block-customer-login .actions-toolbar {
    margin-top: 30px;
}

.customer-account-login .login-container .block-customer-login .actions-toolbar,
.customer-account-login .login-container .block-customer-login .fieldset:after {
    margin-left: 0;
}

.customer-account-login .login-container .block-customer-login .actions-toolbar .primary .action.login.primary,
.customer-account-login .login-container .block-new-customer .actions-toolbar .primary a {
    padding: 10px 25px;
    border-radius: 0;
}

.customer-account-login .login-container .block-customer-login .actions-toolbar .primary .action.login.primary {
    background-color: #e1261c;
    border-color: #e1261c;
}

.customer-account-login .login-container .block-customer-login .actions-toolbar .secondary a.action.remind {
    color: #e1261c;
    font-size: 13px;
    text-decoration: underline;
    font-weight: 600;
}

.customer-account-login .login-container .block-new-customer .actions-toolbar .primary a {
    background-color: #000;
    border-color: #000;
}