.banner-header-title {
    margin-top: 10px;
}

.sidebar.sidebar-main {
    padding-right: 15px;
}

.products.wrapper {
    margin: 0;
}

.products.list.items {
    float: left;
    width: 100%;
    margin-top: 0;
}

.breadcrumbs ol.breadcrumb li:last-of-type {
    color: #df2817;
}

.product-item-actions .actions-primary {
    display: block !important;
}

.products ol.products.list.items li {
    transition: all 300ms ease-in-out;
    box-shadow: 0px 3px 10px transparent;
}

.products ol.products.list.items li:hover {
    box-shadow: 0px 3px 10px #e6e6e6;
}

.products ol.products.list.items li a.product-item-link {
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.products ol.products.list.items li .product-item-info {
    width: 100%;
}

.products ol.products.list.items li .product-item-info a.product.photo.product-item-photo img {
    width: 100%;
    object-fit: contain;
    height: 230px;
}

.products ol.products.list.items li .product-item-info a.product.photo.product-item-photo .product-image-container {
    width: 100% !important;
}

.products ol.products.list.items li.grid-item {
    padding-bottom: 20px;
}

.products ol.products.list.items li.grid-item .product-item-info a.product.photo.product-item-photo .product-image-container .product-image-wrapper {
    padding-bottom: 85% !important;
}

.products ol.products.list.items li .product-item-info .product.description.product-item-description {
    height: 50px;
    font-size: 12px;
    overflow: hidden;
    color: #6f6c6c;
    margin-top: 15px;
    margin-bottom: 15px;
}

.products ol.products.list.items li .product-item-info .price-container .price-wrapper span.price {
    font-weight: 600;
    font-size: 19px;
    color: #df2817;
}

.products ol.products.list.items li .product-item-info .product.details.product-item-details {
    padding: 0 15px 10px;
}

.products ol.products.list.items li .product-item-info .product.details.product-item-details .product-item-inner,
.products ol.products.list.items li .product-item-info .product.details.product-item-details .price-box .old-price,
.products ol.products.list.items li .product-item-info .product.details.product-item-details .price-box .special-price {
    float: left;
    width: 100%;
}

.products ol.products.list.items li .product-item-info .product.details.product-item-details .product-item-inner {
    margin-top: 15px;
}

.products ol.products.list.items li .product-item-info .product.details.product-item-details .price-box .old-price span.price {
    color: #666666;
    font-size: 14px;
}

.products ol.products.list.items li .product-item-info .product.details.product-item-details .price-box > .price-container {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.products ol.products.list.items li .product-item-info .btn-go-to-product {
    border: 1px solid #7fa841;
    color: #7fa841;
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.products ol.products.list.items li .product-item-info .btn-go-to-product:hover {
    background: linear-gradient(0deg, rgba(90,114,52,1) 17%, rgba(127,165,66,1) 81%, rgba(110,142,60,1) 90%);
    color: #ffffff;
}

.products ol.products.list.items li .product-item-info .minimal-price-link {
    display: none;
}

.product-item-actions .actions-primary .stock.unavailable {
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #b3b1b1;
    color: #b3b1b1;
    border-radius: 3px;
}

.filter-name {
    border-left: 4px solid #e1261c;
    padding-left: 15px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #e1261c;
    padding-top: 3px;
    float: left;
    width: 100%;
}

.filter-options ul {
    list-style: none;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.filter-options ul li a {
    color: #484848;
}

.filter-options ul li a:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: -30px;
    margin-top: 1.5px;
    background-color: #f6f6f6;
    outline: 2px solid #bfbfbf;
}

.filter-options ul li.active a {
    color: #e1261c;
    font-weight: 600;
    text-decoration: underline;
}

.filter-options ul li.active a:before {
    background-color: #e1261c;
    border: 2px solid #f6f6f6;
}

.total-found {
    float: right;
    color: #c5c5c5;
    padding-bottom: 10px;
    font-size: 12px;
}