.customer-account-edit .page-middle .form-edit-account {
    background-color: #fff;
    padding: 20px 25px;
    border-top: 3px solid #e1261c;
    box-shadow: 1px 4px 10px -7px #848484;
}

.customer-account-edit .page-middle .form-edit-account .fieldset .legend {
    margin-left: 0;
    color: #e1261c;
    border-bottom: 0;
}

.customer-account-edit .page-middle .form-edit-account .fieldset .field label.label,
.customer-account-edit .page-middle .form-edit-account .fieldset .field .control {
    width: 100%;
    text-align: left;
}

.customer-account-edit .page-middle .form-edit-account .fieldset .field label.label {
    margin-bottom: 10px;
}

.customer-account-edit .page-middle .form-edit-account .fieldset .field .control input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.customer-account-edit .page-middle .form-edit-account .fieldset .field.choice:before {
    width: 0px;
    content: '';
    padding: 0;
}

.customer-account-edit .page-middle .form-edit-account .fieldset .field input[type=checkbox] {
    float: left;
}

.customer-account-edit .page-middle .form-edit-account .fieldset .field .control .password-strength-meter {
    background-color: #e0e0e0;
    border-top: 1px solid #ccc;
}

.customer-account-edit .page-middle .form-edit-account .actions-toolbar {
    margin-left: 0;
}

.customer-account-edit .page-middle .form-edit-account .actions-toolbar .action.save.primary {
    background-color: #e1261c;
    border-color: #e1261c;
    border-radius: 0;
}