.customer-account-create #maincontent .columns {
    float: left;
    width: 100%;
}

.customer-account-create #maincontent .form-create-account {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 25px;
    border-top: 3px solid #e1261c;
    box-shadow: 1px 4px 10px -7px #848484;
}

.customer-account-create #maincontent .form-create-account .fieldset {
    margin-bottom: 15px;
}

.customer-account-create #maincontent .form-create-account .fieldset .legend {
    color: #e1261c;
    font-weight: 600;
    border-bottom: none;
    margin-bottom: 15px;
}

.customer-account-create #maincontent .form-create-account .fieldset .legend,
.customer-account-create #maincontent .form-create-account .actions-toolbar {
    margin-left: 0;
}

.customer-account-create #maincontent .form-create-account .fieldset .field {
    margin-bottom: 10px;
}

.customer-account-create #maincontent .form-create-account .fieldset .field label.label,
.customer-account-create #maincontent .form-create-account .fieldset .field .control {
    float: none;
    width: 100%;
    text-align: left;
}

.customer-account-create #maincontent .form-create-account .fieldset .field label.label {
    margin-bottom: 10px;
}

.customer-account-create #maincontent .form-create-account .fieldset .field .control input {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.customer-account-create #maincontent .form-create-account .fieldset .field.choice.newsletter:before {
    width: 0px;
    content: '';
    padding: 0;
}

.customer-account-create #maincontent .form-create-account .fieldset .field.choice.newsletter [name="is_subscribed"] {
    float: left;
}

.customer-account-create #maincontent .form-create-account .fieldset .field .control .password-strength-meter {
    background-color: #e0e0e0;
    border-top: 1px solid #ccc;
}

.customer-account-create #maincontent .form-create-account .actions-toolbar .action.submit.primary {
    background-color: #e1261c;
    border-color: #e1261c;
    border-radius: 0;
}