.page-wrapper .page-middle {
    padding-top: 35px;
    float: left;
    width: 100%;
}

.form.form-cart a.action,
.form.form-cart button.action {
    border: none !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    border-radius: 0 !important;
}

.checkout-methods-items .action.primary.checkout {
    background: linear-gradient(0deg, rgba(90,114,51,1) 17%, rgba(127,165,66,1) 90%) !important;
    text-transform: none;
    border-radius: 5px !important;
}

.checkout-methods-items .action.multicheckout {
    text-transform: none !important;
    color: #e1261c;
}

.form.form-cart .checkout-cart-index .action.continue {
    background: #e1261c !important;
    color: #fff !important;
    padding: 15px 15px 15px 6px !important;
}

.cart-summary .label {
    color: #000;
}

.checkout-cart-index .cart-summary .block .fieldset .field input[type="radio"] {
    float: left;
}

.cart.table-wrapper .product-item-photo {
    width: 40%!important;
}

.cart.table-wrapper .item .col.item {
    border-top: 0;
}

.price-including-tax .price,
.price-excluding-tax .price {
    color: #e1261c;
}

.cart-summary table tr th.mark {
    background-color: transparent;
}

@media (max-width: 768px) {

    .checkout-cart-index .page-wrapper .page-header {
        float: left;
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 0;
    }

    .checkout-cart-index .page-middle .cart-container {
        flex-direction: column-reverse;
        display: flex;
    }
}