.page-layout-minelab-customer-default .page-middle {
    background-image: url('../images/customer-bg-content.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 10px;
}

.page-layout-minelab-customer-default .page-middle #maincontent .columns {
    float: left;
    width: 100%;
}

.page-layout-minelab-customer-default .page-middle .banner-header-title {
    margin-bottom: 50px;
}

.page-layout-minelab-customer-default .page-middle .block {
    background-color: #fff;
    padding: 20px 25px;
    border-top: 3px solid #e1261c;
    box-shadow: 1px 4px 10px -7px #848484;
}

.page-layout-minelab-customer-default .page-middle .block .block-title {
    border-bottom: none;
}

.page-layout-minelab-customer-default .page-middle .block .block-title strong {
    font-weight: 600;
    font-size: 20px;
    color: #e43a30;
}