#maincontent {
    max-width : 100%;
    padding: 0;
}

.breadcrumbs ol.breadcrumb li:last-of-type {
    color: #df2817;
}

.find-a-store .stores-container .stores-list .store {
    background-color: #fff;
    border-top: 3px solid #df2817;
    padding: 35px;
    box-shadow: 1px 3px 11px -10px black;
    margin-bottom: 30px;
    min-height: 235px;
    display: flex;
    flex-wrap: wrap;
}

.find-a-store .stores-container .stores-list .store p {
    width: 100%;
}

.find-a-store .stores-container .stores-list .store .name,
.find-a-store .stores-container .stores-list .store .link {
    color: #df2817;
    font-weight: 600;
}

.find-a-store .stores-container .stores-list .store .description {
    color: #808080;
    font-size: 13px;
}

.find-a-store .stores-container .stores-list .store .phones {
    color: #808080;
    font-size: 13px;
    margin-bottom: 15px;
}

.find-a-store .stores-container .stores-list .store .link {
    text-decoration: underline;
    margin-right: 15px;
}