#maincontent {
    max-width : 100%;
    padding: 0;
    min-height: 550px;
}

#maincontent .columns {
    display: none;
}

.breadcrumbs .breadcrumb li:last-of-type {
    color: #e1261c;
}

.filter-name {
    border-left: 4px solid #e1261c;
    padding-left: 15px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #e1261c;
    padding-top: 3px;
    float: left;
    width: 100%;
}

.filter-options ul {
    list-style: none;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.filter-options ul li a {
    color: #484848;
}

.filter-options ul li a:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: -30px;
    margin-top: 1.5px;
    background-color: #f6f6f6;
    outline: 2px solid #bfbfbf;
}

.filter-options ul li.active a {
    color: #e1261c;
    font-weight: 600;
    text-decoration: underline;
}

.filter-options ul li.active a:before {
    background-color: #e1261c;
    border: 2px solid #f6f6f6;
}

ol.products li.list-item {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    transition: all 300ms ease-in-out;
    float: left;
    width: 100%;
}

ol.products li.list-item:hover {
    box-shadow: 0px 3px 10px #e6e6e6;
}

ol.products li.list-item:last-of-type {
    margin-bottom: 30px;
}

ol.products li.list-item a.product-item-photo {
    float: left;
    width: 30%;
}

ol.products li.list-item .product-item-info {
    width: 100%;
}

ol.products li.list-item .product-item-info a.product.photo.product-item-photo img.photo.image {
    height: 100%;
    object-fit: contain;
    max-height: 160px;
    margin-top: 0;
}

ol.products li.list-item .product-item-details {
    float: right;
    width: 70%;
}

ol.products li.list-item .product-item-details .product-item-name a {
    font-size: 15px;
}

ol.products li.list-item .product-item-details .product-item-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

ol.products li.list-item .product-item-details .product-item-description p {
    margin-bottom: 0;
    font-size: 11px;
    height: 45px;
    overflow: hidden;
}

ol.products li.list-item .product-item-details .price-box {
    float: left !important;
    width: 50% !important;
}

ol.products li.list-item .product-item-details .price-box .price {
    color: #e1261c;
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    float: left;
}

ol.products li.list-item .product-item-details .product-item-inner {
    float: right !important;
    width: 50% !important;
    margin-top: 15px;
}

ol.products li.list-item .product-item-details .product-item-inner .actions-primary {
    width: 100%;
    float: left;
}

ol.products li.list-item .product-item-details .product-item-inner .btn-go-to-product {
    border: 1px solid #597135;
    color: #597135;
    transition: all 350ms ease-in-out;
    padding: 10px;
}

ol.products li.list-item .product-item-details .product-item-inner .btn-go-to-product:hover {
    background: rgb(127,165,66);
    background: linear-gradient(180deg, rgba(127,165,66,1) 25%, rgba(90,114,52,1) 75%, rgba(90,114,52,1) 100%);
    color: #fff;
}