#maincontent {
    max-width : 100%;
    padding: 0;
}

.columns .column.main {
    min-height: 0;
}

.form-contact {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}

.form-contact form input.form-control,
.form-contact form select,
.form-contact form textarea.form-control,
.form-contact form button.btn {
    border-radius: 0;
    border-color: #efefef;
    background-color: #efefef;
    box-shadow: none;
}

.form-contact form input.form-control,
.form-contact form select,
.form-contact form textarea.form-control {
    padding: 20px 15px;
    font-size: 13px;
    font-weight: 600;
}

.form-contact form select {
    padding: inherit;
    height: 42px;
    padding-left: 10px;
    color: #555;
    font-weight: 500;
    text-shadow: 0px 0px;
}

.form-contact form .select-wrapper > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-contact form .select-wrapper:before {
    content: "\e259";
    font-family: "Glyphicons Halflings";
    position: absolute;
    right: 25px;
    top: 10px;
    color: #d6261e;
}

.form-contact form button.btn {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 12px;
    background-color: #e1261c;
    background-image: none;
    transition: all 300ms ease-in-out;
}

.form-contact form button.btn:hover {
    background-color: #bb201c;
}

.form-contact .text-subtitle {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #666666;
}

.form-contact form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
}

.form-contact form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666;
}

.form-contact form .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666;
}

@media (min-width: 1000px) {
    .banner-header-contact h3 {
        margin-left: 100px;
    }
}

@media (min-width: 1200px) {
    .banner-header-contact h3 {
        margin-left: 140px;
    }
}

@media (min-width: 1560px) {
    .banner-header-contact h3 {
        margin-left: 100px;
    }
}