<?php
/**
 * Blackbird ContentManager Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category        Blackbird
 * @package         Blackbird_ContentManager
 * @copyright       Copyright (c) 2018 Blackbird (https://black.bird.eu)
 * @author          Blackbird Team
 * @license         https://www.advancedcontentmanager.com/license/
 */
?>
<?php
/**
 * @see \Blackbird\ContentManager\Block\View
 */
?>
<?php
/*
 *
 *
 * AVAILABLE METHODS
 *
 * Get all raw values as an array
 * $content->getData();
 *
 * Get a specific value by his field identifier
 * $content->getData('field_identifier');
 * $content->getFieldIdentifier();
 * $content->getAttributeText('field_identifier');
 *
 * Get content type model
 * $content->getContentType();
 *
 * Get image URL for an image field type.
 * $content->getImage($attributeName, $width, $height, $keepRatio, $cropped = false);
 *
 * Get file absolute URL, for a file field typ
 * $content->getFile($field_identifier);
 *
 * Get content url
 * $content->getLinkUrl();
 *
 * Render a field in HTML
 * $content->render($element, $params);
 *
 * See the complete documentation and more examples at:
 * http://www.advancedcontentmanager.com/documentation/
 *
 */
?>
<?php
/** @var \Blackbird\ContentManager\Model\Content $content */
$content = $block->getContent();
/** @var \Blackbird\ContentManager\Model\ContentType $contentType */
$contentType = $content->getContentType();

$banner = array('image' => NULL, 'text' => NULL);
foreach($contentType->getCustomFieldCollection() as $field) :
    $customField = $contentType->getCustomFieldCollection()
                                    ->addFieldToFilter(Blackbird\ContentManager\Model\ContentType\CustomField::IDENTIFIER, $field->getIdentifier())
                                        ->getFirstItem();

    if($field->getIdentifier() == 'home_banner_image') :
        $banner['image'] = $content->getImage($field->getIdentifier());
    elseif($field->getIdentifier() == 'home_banner_text') :
        $banner['text'] = $content->getData($field->getIdentifier());
    endif;
endforeach;
?>
<div class="home-banner-principal" style="background-image: url(<?= $banner['image']; ?>)">
    <div class="container">
        <div class="banner-wrapper">
            <div class="title font-alfa-slab-one">
                <?= $banner['text']; ?>
            </div>
            <div class="subtitle">
                <img src="<?= $this->getViewFileUrl('images/home-banner-top-subtitle.png'); ?>">
            </div>
            <a href="javascript:void();" onclick="geral.funcs.scrollToElement('.home-minelab-apresentation');"><span class="glyphicon glyphicon-menu-down"></span></a>
        </div>
    </div>
</div>
