<?php
/**
 * @var \Minelab\Detectors\Block\View\Filter $block
 */
?>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="filter-name"><?= __('Por Objetivo'); ?></div>
            <div class="filter-options">
                <ul>
                    <li class="<?= is_null($block->getRequestObjectiveId()) ? 'active' : ''; ?>"><a href="<?= $block->makeLinkDetectors(NULL, $block->getRequestWaterproof(), $block->getRequestLevelId()); ?>">TODOS</a></li>
                    <?php foreach($block->getObjectivesOptions() as $objective): ?>
                        <li class="<?= $block->getRequestObjectiveId() == $objective['value'] ? 'active' : ''; ?>"><a href="<?= $block->makeLinkDetectors($objective['value'], $block->getRequestWaterproof(), $block->getRequestLevelId()); ?>"><?= $objective['label']; ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="filter-name"><?= __('À prova d’água'); ?></div>
            <div class="filter-options">
                <ul>
                    <li class="<?= $block->getRequestWaterproof() ? 'active' : ''; ?>"><a href="<?= $block->makeLinkDetectors($block->getRequestObjectiveId(), ! $block->getRequestWaterproof(), $block->getRequestLevelId()); ?>">Sim</a></li>
                </ul>
            </div>
            <div class="filter-name"><?= __('Por Level'); ?></div>
            <div class="filter-options">
                <ul>
                    <li class="<?= is_null($block->getRequestLevelId()) ? 'active' : ''; ?>"><a href="<?= $block->makeLinkDetectors($block->getRequestObjectiveId(), $block->getRequestWaterproof(), NULL); ?>">TODOS</a></li>
                    <?php foreach($block->getLevelsOptions() as $level): ?>
                        <li class="<?= $block->getRequestLevelId() == $level['value'] ? 'active' : ''; ?>"><a href="<?= $block->makeLinkDetectors($block->getRequestObjectiveId(), $block->getRequestWaterproof(), $level['value']); ?>"><?= $level['label']; ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <?php $detectorsCollection = $block->getDetectorsWithFilter(); ?>
            <?php if($detectorsCollection->count() > 0) : ?>
                <div class="total-found">Encontrado<?= $detectorsCollection->count() > 1 ? 's' : ''; ?>: <?= $detectorsCollection->count(); ?> detector<?= $detectorsCollection->count() > 1 ? 'es' : ''; ?></div>
            <?php endif; ?>
            <?php $this->getChildBlock('search_result_list')->setCollection($detectorsCollection); ?>
            <?= $this->getChildHtml('search_result_list'); ?>
        </div>
    </div>
</div>